In [1]:
import re 
import os
import pandas as pd
from tqdm import tqdm
import random
from time import time

In [42]:
s = """What is the ID of transaction da10ac97?
select id from transaction where txn_id='da10ac97';

What is the txn_id related to client_request_id=83102?
SELECT txn_id FROM transaction WHERE client_request_id=83102;

what is the destination of txn_id='da10fc92';
select destination from transaction where txn_id='da109c98';

what is the type of upload for txn_id='da109c98';
select destination from transaction where txn_id='da109c98';

when was the transaction 'da109c98' performed;
select access_date from transaction where txn_id='da109c98';

what is the start and end time of the txn da109c98
select start_time, end_time from transaction where txn_id='da109c98';

what is the start and end month of the txn da109c98
select statement_start_month, statement_end_month from transaction where txn_id='da109c98';

how many months of data present for txn_id da109c98?
select TIMESTAMPDIFF(month, STR_TO_DATE(concat(statement_start_month, "-01"), '%Y-%m-%d'), STR_TO_DATE(concat(statement_end_month, "-28"), '%Y-%m-%d')) as total_months from transaction where txn_id='da109c98';

what is the acceptance policy of the txn da109c98;
select acceptance_policy from transaction where txn_id='da109c98';

under what policy the txn da109c98 was accepted.
select acceptance_policy from transaction where txn_id='da109c98';

fetch the report url for the txn da109c98;
select report_url from transaction where txn_id='da109c98';

where is the final report present for the txn da109c98;
select report_url from transaction where txn_id='da109c98';

what is the client id of the txn da109c98.
select client_id from transaction where txn_id='da109c98';

what is the institution id of the txn da109c98.
select institution_id from transaction where txn_id='da109c98';

what is the bank id of the txn da109c98.
select institution_id from transaction where txn_id='da109c98';

what is the bank id of the user for txn_id da109c98;
select institution_id from transaction where txn_id='da109c98';

last date of access of the txn da109c98;
select access_date from transaction where txn_id='da109c98';

is the bank auto detected for txn id da109c98;
select bank_auto_detected from transaction where txn_id='da109c98';

what is the sub type of the report for txn da109c98;
select report_subtype from transaction where txn_id='da109c98';

what is the type of the report for txn da109c98;
select report_type from transaction where txn_id='da109c98';

what is the tamper detection type for txn id da109c98;
select tamper_detection from transaction where txn_id='da109c98';

who is the employer of the user with txn id da109c98;
select employer_details from transaction where txn_id='da109c98';

what is the company of user belonging to txn_id da109c98;
select employer_details from transaction where txn_id='da109c98';

how many pages user has in his statement, user txn id given da109c98;
select max_pages_in_pdf from transaction where txn_id='da109c98';

max pages of user having txn_id da109c98;
select max_pages_in_pdf from transaction where txn_id='da109c98';

what is the requested bank for txn_id='da109c98';
select req_institution_id from transaction where txn_id='da109c98';

what is the requested institution of user having txn_id da109c98;
select req_institution_id from transaction where txn_id='da109c98';

what is the category verion for txn_id da109c98;
select category_version from transaction where txn_id='da109c98';

category version for txn_id da109c98;
select category_version from transaction where txn_id='da109c98';

email access token for txn_id da109c98;
select email_access_token from transaction where txn_id='da109c98';

income tax documents of the user having txn_id da109c98;
select income_tax_doc from transaction where txn_id='da109c98';

is new netbanking enabled for user having txn id da109c98;
select is_new_nb_enabled from transaction where txn_id='da109c98';

is txn callback happened for the txn id da109c98;
select txn_callback from transaction where txn_id='da109c98';

is user data deleted from s3 for txn id da109c98
select is_deleted from transaction where txn_id='da109c98';

what is the version2 institution id of txn da109c98;
select v2_institution_id from transaction where txn_id='da109c98';

what is the version2 bank id of txn da109c98;
select v2_institution_id from transaction where txn_id='da109c98';

what is the requested v2 bank id of txn da109c98;
select req_v2_institution_id from transaction where txn_id='da109c98';

is multi account support required for txn da109c98;
select multi_account_support_required from transaction where txn_id='da109c98';

what is the multi statement inst id for txn da109c98;
select multi_stmt_inst_id from transaction where txn_id='da109c98';

is bs testing required for txn da109c98;
select bs_testing_required from transaction where txn_id='da109c98';

is compressed selection enabled for txn da109c98;
select compressed_selection_enabled from transaction where txn_id='da109c98';

is multi selection enabled for txn id da109c98;
select multi_selection_enabled from transaction where txn_id='da109c98';

is complete statement parsing required for txn da109c98;
select complete_stmt_parsing_required from transaction where txn_id='da109c98';

what is the parsing mode of the txn da109c98;
select parsing_mode from transaction where txn_id='da109c98';

What is the txn_id related to client_request_id in ('95745', '467456', '23412', '2542343', '831234') ?
SELECT txn_id FROM transaction WHERE client_request_id in ('95745', '467456', '23412', '2542343', '831234');

what is the destination of txn_id in ('da109c57');;
select destination from transaction where txn_id in ('da109c57');

what is the type of upload for txn ids ('da109bfb','da109c0c','da109c57')
select destination from transaction where txn_id in ('da109bfb','da109c0c','da109c57');

when was the transactions ('da109c57') performed;
select access_date from transaction where txn_id in ('da109c57');

what is the start and end time of the txn ids ('da109c12')
select start_time, end_time from transaction where txn_id in ('da109c12');

what is the start and end month of the txn ids ('da109c5d','da109c12','da109c57')
select statement_start_month, statement_end_month from transaction where txn_id in ('da109c5d','da109c12','da109c57');

how many months of data present for txn ids ('da109c0c','da109bfb','da109c57','da109c12')
select TIMESTAMPDIFF(month, STR_TO_DATE(concat(statement_start_month, "-01"), '%Y-%m-%d'), STR_TO_DATE(concat(statement_end_month, "-28"), '%Y-%m-%d')) as total_months from transaction where txn_id in ('da109c0c','da109bfb','da109c57','da109c12');

what is the acceptance policy of the txn ids ('da109c12','da109c0c','da109c5d','da109bfb','da109c57')
select acceptance_policy from transaction where txn_id in ('da109c12','da109c0c','da109c5d','da109bfb','da109c57');

under what policy the txn ids ('da109bfb','da109c0c','da109c12') was accepted.
select acceptance_policy from transaction where txn_id in ('da109bfb','da109c0c','da109c12');

fetch the report url for the txn ids ('da109c5d','da109bfb')
select report_url from transaction where txn_id in ('da109c5d','da109bfb');

where is the final report present for the txn ids ('da109bfb','da109c57','da109c12','da109c0c','da109c5d')
select report_url from transaction where txn_id in ('da109bfb','da109c57','da109c12','da109c0c','da109c5d');

what is the client id of the txn ids ('da109c0c','da109c57','da109bfb','da109c5d','da109c12')
select client_id from transaction where txn_id in ('da109c0c','da109c57','da109bfb','da109c5d','da109c12');

what is the institution id of the txn ids ('da109c0c','da109c5d','da109c12')
select institution_id from transaction where txn_id in ('da109c0c','da109c5d','da109c12');

what is the bank id of the txn ids ('da109c5d','da109bfb')
select institution_id from transaction where txn_id in ('da109c5d','da109bfb');

what is the bank id of the user for txn ids ('da109bfb','da109c5d','da109c0c')
select institution_id from transaction where txn_id in ('da109bfb','da109c5d','da109c0c');

last date of access of the txn ids ('da109c12')
select access_date from transaction where txn_id in ('da109c12');

is the bank auto detected for txn ids ('da109c5d','da109c0c','da109c57','da109c12')
select bank_auto_detected from transaction where txn_id in ('da109c5d','da109c0c','da109c57','da109c12');

what is the sub type of the report for txn ids ('da109bfb')
select report_subtype from transaction where txn_id in ('da109bfb');

what is the type of the report for txn ids ('da109bfb','da109c12')
select report_type from transaction where txn_id in ('da109bfb','da109c12');

what is the tamper detection type for txn ids ('da109c0c','da109c5d','da109c57','da109c12')
select tamper_detection from transaction where txn_id in ('da109c0c','da109c5d','da109c57','da109c12');

who is the employer of the user with txn ids ('da109c12','da109c0c')
select employer_details from transaction where txn_id in ('da109c12','da109c0c');

what is the company of user belonging to txn ids ('da109c57','da109bfb')
select employer_details from transaction where txn_id in ('da109c57','da109bfb');

how many pages user has in his statement, user txn id given da109c98;
select max_pages_in_pdf from transaction where txn_id in ('da109c5d','da109c12','da109c0c','da109bfb','da109c57');

max pages of user having txn ids ('da109c57','da109bfb','da109c12')
select max_pages_in_pdf from transaction where txn_id in ('da109c57','da109bfb','da109c12');

what is the requested bank for txn ids ('da109c0c')
select req_institution_id from transaction where txn_id in ('da109c0c');

what is the requested institution of user having txn ids ('da109c57','da109bfb','da109c0c','da109c5d','da109c12')
select req_institution_id from transaction where txn_id in ('da109c57','da109bfb','da109c0c','da109c5d','da109c12');

what is the category verion for txn ids ('da109c0c','da109c5d','da109bfb')
select category_version from transaction where txn_id in ('da109c0c','da109c5d','da109bfb');

category version for txn ids ('da109c0c','da109c5d','da109c12','da109bfb','da109c57')
select category_version from transaction where txn_id in ('da109c0c','da109c5d','da109c12','da109bfb','da109c57');

email access token for txn ids ('da109c57')
select email_access_token from transaction where txn_id in ('da109c57');

income tax documents of the user having txn ids ('da109c57','da109c0c','da109c12','da109bfb','da109c5d')
select income_tax_doc from transaction where txn_id in ('da109c57','da109c0c','da109c12','da109bfb','da109c5d');

is new netbanking enabled for user having txn ids ('da109c12')
select is_new_nb_enabled from transaction where txn_id in ('da109c12');

is txn callback happened for the txn ids ('da109c5d','da109c12','da109bfb','da109c0c','da109c57')
select txn_callback from transaction where txn_id in ('da109c5d','da109c12','da109bfb','da109c0c','da109c57');

is user data deleted from s3  for txn ids  ('da109c5d','da109c12','da109bfb','da109c0c','da109c57')
select is_deleted from transaction where txn_id in ('da109c5d','da109c12','da109bfb','da109c0c','da109c57');

what is the version2 institution id of txn ids ('da109c5d','da109c0c','da109c12','da109bfb','da109c57')
select v2_institution_id from transaction where txn_id in ('da109c5d','da109c0c','da109c12','da109bfb','da109c57');

what is the version2 bank id of txn ids ('da109bfb','da109c12','da109c57','da109c5d','da109c0c')
select v2_institution_id from transaction where txn_id in ('da109bfb','da109c12','da109c57','da109c5d','da109c0c');

what is the requested v2 bank id of txn ids ('da109c5d','da109c0c')
select req_v2_institution_id from transaction where txn_id in ('da109c5d','da109c0c');

is multi account support required for txn ids ('da109c0c','da109bfb')
select multi_account_support_required from transaction where txn_id in ('da109c0c','da109bfb');

what is the multi statement inst id for txn ids ('da109c57','da109c5d','da109bfb','da109c0c','da109c12')
select multi_stmt_inst_id from transaction where txn_id in ('da109c57','da109c5d','da109bfb','da109c0c','da109c12');

is bs testing required for txn ids ('da109c12','da109c5d')
select bs_testing_required from transaction where txn_id in ('da109c12','da109c5d');

is compressed selection enabled for txn ids ('da109c0c','da109bfb','da109c5d')
select compressed_selection_enabled from transaction where txn_id in ('da109c0c','da109bfb','da109c5d');

is multi selection enabled for txn ids ('da109c57','da109c0c','da109c5d')
select multi_selection_enabled from transaction where txn_id in ('da109c57','da109c0c','da109c5d');

is complete statement parsing required for txn ids ('da109c5d','da109bfb','da109c0c','da109c57','da109c12')
select complete_stmt_parsing_required from transaction where txn_id in ('da109c5d','da109bfb','da109c0c','da109c57','da109c12');

what is the parsing mode of the txn ids ('da109c5d','da109c12','da109bfb','da109c0c')
select parsing_mode from transaction where txn_id in ('da109c5d','da109c12','da109bfb','da109c0c');

what is the institution name for intstitution id 1;
select name from institution_list where id=1;

what is the institution_code name for intstitution id 1;
select code from institution_list where id=1;

institution type for intstitution id 1;
select inst_type from institution_list where id=1;

user name text for intstitution id 1;
select username_text from institution_list where id=1;

what is the password_text for intstitution id 1;
select password_text from institution_list where id=1;

what is the institution_status for intstitution id 1;
select institution_status from institution_list where id=1;

what is the status of institution id 1;
select institution_status from institution_list where id=1;

scraper name of institution id 1;
select scrapper_name from institution_list where id=1;

scrapper name of institution id 1;
select scrapper_name from institution_list where id=1;

status of the scrapper for institution id 1;
select scrapper_status from institution_list where id=1;

net banking status for institution id 1;
select netbanking_enabled from institution_list where id=1;

is net banking enabled for institution id 1;
select netbanking_enabled from institution_list where id=1;

is pdf enabled for institution id 1;
select pdf_enabled from institution_list where id=1;

what is the user details extraction mode for institution id 1;
select user_details_extraction_mode from institution_list where id=1;

pdf scanned enabled for institution id 1;
select pdf_scanned_enabled from institution_list where id=1;

what is the anchor bank for institution id 1;
select anchor_bank from institution_list where id=1;

display name for institution id 1;
select display_name from institution_list where id=1;

is email enable for institution id 1;
select email_enabled from institution_list where id=1;

what is the new net banking rolled out % for institution id 1;
select new_nb_rollout_percentage from institution_list where id=1;

what is the scrapper type for institution id 1;
select scraper_type from institution_list where id=1;

is form 26as enabled for institution id 1;
select form26as_enabled from institution_list where id=1;

is form26as enabled for institution id 1;
select form26as_enabled from institution_list where id=1;

is itr form enabled of institution id 1;
select itr_form_enabled from institution_list where id=1;

is itvr enabled for institution id 1;
select itrv_enabled from institution_list where id=1;

what is the disp message auto id for institution id 1;
select disp_msg_auto_id from institution_list where id=1;

what is the display message auto id for institution id 1;
select disp_msg_auto_id from institution_list where id=1;

give me the user name regex of institution id 1;
select username_regex from institution_list where id=1;

is aa_enabled of institution id 1;
select aa_enabled from institution_list where id=1;

is account aggregator enabled of institution id 1;
select aa_enabled from institution_list where id=1;

what is the fip_id of institution id 1;
select fip_id from institution_list where id=1;

what is the fip_name of institution id 1;
select fip_name from institution_list where id=1;

what are all the aa vendors of institution id 1;
select aa_vendors from institution_list where id=1;

what are all the account aggregator vendors of institution id 1;
select aa_vendors from institution_list where id=1;

what are all the fi types of institution id 1;
select fi_types from institution_list where id=1;

is the extended institution pdf enabled for institution id 1;
select extended_institution_pdf_enabled from institution_list where id=1;

is the extended institution pdf scanned enabled for institution id 1;
select extended_institution_pdf_scanned_enabled from institution_list where id=1;

what is the fip sahamati name of institution id 1;
select fip_sahamati_name from institution_list where id=1;

what is the institution name for institution ids ('3','1','30');
select name from institution_list where id in ('3','1','30');

what is the institution_code name for institution ids ('44','30','50','3','17','6','1');
select code from institution_list where id in ('44','30','50','3','17','6','1');

institution type for institution ids ('1','6','3','30');
select inst_type from institution_list where id in ('1','6','3','30');

user name text for institution ids ('6','17','50','44');
select username_text from institution_list where id in ('6','17','50','44');

what is the password_text for institution ids ('17','50','6','1','3','30');
select password_text from institution_list where id in ('17','50','6','1','3','30');

what is the institution_status for institution ids ('50','30','3','17','1','6');
select institution_status from institution_list where id in ('50','30','3','17','1','6');

what is the status of institution ids ('30','1','6','17');
select institution_status from institution_list where id in ('30','1','6','17');

scraper name of institution ids ('3','30','50','6','44','1','17');
select scrapper_name from institution_list where id in ('3','30','50','6','44','1','17');

scrapper name of institution ids ('17','6','30');
select scrapper_name from institution_list where id in ('17','6','30');

status of the scrapper for institution ids ('3','44','17');
select scrapper_status from institution_list where id in ('3','44','17');

net banking status for institution ids ('30');
select netbanking_enabled from institution_list where id in ('30');

is net banking enabled for institution ids ('44','1');
select netbanking_enabled from institution_list where id in ('44','1');

is pdf enabled for institution ids ('17','1','44');
select pdf_enabled from institution_list where id in ('17','1','44');

what is the user details extraction mode for institution ids ('44','1','30','3','17','50','6');
select user_details_extraction_mode from institution_list where id in ('44','1','30','3','17','50','6');

pdf scanned enabled for institution ids ('1','17','3','30','44');
select pdf_scanned_enabled from institution_list where id in ('1','17','3','30','44');

what is the anchor bank for institution ids ('17','1','30','50','44','6');
select anchor_bank from institution_list where id in ('17','1','30','50','44','6');

display name for institution ids ('30','50','1','3','17');
select display_name from institution_list where id in ('30','50','1','3','17');

is email enable for institution ids ('50','6','44','3','30','1');
select email_enabled from institution_list where id in ('50','6','44','3','30','1');

what is the new net banking rolled out % for institution ids ('30','17','50','1');
select new_nb_rollout_percentage from institution_list where id in ('30','17','50','1');

what is the scrapper type for institution ids ('1');
select scraper_type from institution_list where id in ('1');

is form 26as enabled for institution ids ('1','50');
select form26as_enabled from institution_list where id in ('1','50');

is form26as enabled for institution ids ('1','50','3','17','44');
select form26as_enabled from institution_list where id in ('1','50','3','17','44');

is itr form enabled of institution ids ('30','1','3','50','17','44','6');
select itr_form_enabled from institution_list where id in ('30','1','3','50','17','44','6');

is itvr enabled for institution ids ('30','50','1','6','3','17','44');
select itrv_enabled from institution_list where id in ('30','50','1','6','3','17','44');

what is the disp message auto id for institution ids ('1','6','17','50','30','3','44');
select disp_msg_auto_id from institution_list where id in ('1','6','17','50','30','3','44');

what is the display message auto id for institution ids ('3','30','6','44');
select disp_msg_auto_id from institution_list where id in ('3','30','6','44');

give me the user name regex of institution ids ('44','30','50','3');
select username_regex from institution_list where id in ('44','30','50','3');

is aa_enabled of institution ids ('3','6','17','44','50','30','1');
select aa_enabled from institution_list where id in ('3','6','17','44','50','30','1');

is account aggregator enabled of institution ids ('50','17','1');
select aa_enabled from institution_list where id in ('50','17','1');

what is the fip_id of institution ids ('44','1','6');
select fip_id from institution_list where id in ('44','1','6');

what is the fip_name of institution ids ('30','1','6','44','3');
select fip_name from institution_list where id in ('30','1','6','44','3');

what are all the aa vendors of institution ids ('1','17','44','3');
select aa_vendors from institution_list where id in ('1','17','44','3');

what are all the account aggregator vendors of institution ids ('1','50','3','30','17');
select aa_vendors from institution_list where id in ('1','50','3','30','17');

what are all the fi types of institution ids ('3','6','44','50');
select fi_types from institution_list where id in ('3','6','44','50');

is the extended institution pdf enabled for institution ids ('17');
select extended_institution_pdf_enabled from institution_list where id in ('17');

is the extended institution pdf scanned enabled for institution ids ('1','50','3');
select extended_institution_pdf_scanned_enabled from institution_list where id in ('1','50','3');

what is the fip sahamati name of institution ids ('50','6','44','17');
select fip_sahamati_name from institution_list where id in ('50','6','44','17');

what is the customer id for digitap_data_id=52900;
select customer_id from digitap_data where digitap_data_id=52900;

what is the client txn id of digitap_data_id=52900; 
select client_transaction_id from digitap_data where digitap_data_id=52900;

what is the client transaction id of digitap_data_id=52900; 
select client_transaction_id from digitap_data where digitap_data_id=52900;

txn id where digitap_data_id=52900;
select digitap_txn_id from digitap_data where digitap_data_id=52900;

transaction id where digitap_data_id=52900;
select digitap_txn_id from digitap_data where digitap_data_id=52900;

perfios status for digitap_data_id=52900;
select perfios_status from digitap_data where digitap_data_id=52900;

respective file name of digitap_data_id=52900;
select resp_file_name from digitap_data where digitap_data_id=52900;

what is the report file name for digitap_data_id=52900
select report_file_name from digitap_data where digitap_data_id=52900;

kb status for digitap_data_id=52900
select kb_status from digitap_data where digitap_data_id=52900;

product type of digitap_data_id=52900
select product_type from digitap_data where digitap_data_id=52900;

what is the request date of digitap_data_id=52900
select request_date from digitap_data where digitap_data_id=52900;

what is the type where digitap_data_id=52900
select type from digitap_data where digitap_data_id=52900;

is the id digitap_data_id=52900 reparsed.
select reparse from digitap_data where digitap_data_id=52900;

for digitap_data_id=52900 who is the vendor
select vendor from digitap_data where digitap_data_id=52900;

when was digitap_data_id 52900 updated
select updatedon from digitap_data where digitap_data_id=52900;

for digitap_data_id 52900 did we find multiple accounts
select multiple_accounts_found from digitap_data where digitap_data_id=52900;

what is the category config for digitap_data_id 52900
select category_config from digitap_data where digitap_data_id=52900;

what all configs related to category have been set for digitap_data_id=52900
select category_config from digitap_data where digitap_data_id=52900;

what is the upi logic version for digitap_data_id=52900
select upi_version from digitap_data where digitap_data_id=52900;

what is the upi version for digitap_data_id 52900
select upi_version from digitap_data where digitap_data_id=52900;

what is the categ_code_version for digitap_data_id 52900
select catg_code_version from digitap_data where digitap_data_id=52900;

which version of category ran for digitap_data_id 52900
select catg_code_version from digitap_data where digitap_data_id=52900;

what is the derived variable version for digitap_data_id 52900
select derv_var_code_version from digitap_data where digitap_data_id=52900;

what is the derived variable code version for digitap_data_id 52900
select derv_var_code_version from digitap_data where digitap_data_id=52900;

what is the customer id for digitap data ids ('52663','52806','52673');
select customer_id from digitap_data where digitap_data_id in ('52663','52806','52673');

what is the client txn id of digitap data ids ('52669','52663','52673','52822','52806'); 
select client_transaction_id from digitap_data where digitap_data_id in ('52669','52663','52673','52822','52806');

what is the client transaction id of digitap data ids ('52663','52673','52822','52806'); 
select client_transaction_id from digitap_data where digitap_data_id in ('52663','52673','52822','52806');

txn id where digitap data ids ('52669','52673');
select digitap_txn_id from digitap_data where digitap_data_id in ('52669','52673');

transaction id where digitap data ids ('52663','52669');
select digitap_txn_id from digitap_data where digitap_data_id in ('52663','52669');

perfios status for digitap data ids ('52822','52806','52673');
select perfios_status from digitap_data where digitap_data_id in ('52822','52806','52673');

respective file name of digitap data ids ('52822','52673');
select resp_file_name from digitap_data where digitap_data_id in ('52822','52673');

what is the report file name for digitap data ids ('52673','52663')
select report_file_name from digitap_data where digitap_data_id in ('52673','52663');

kb status for digitap data ids ('52669','52663','52822')
select kb_status from digitap_data where digitap_data_id in ('52669','52663','52822');

product type of digitap data ids ('52806','52673','52663','52669','52822')
select product_type from digitap_data where digitap_data_id in ('52806','52673','52663','52669','52822');

what is the request date of digitap data ids ('52822','52663','52673')
select request_date from digitap_data where digitap_data_id in ('52822','52663','52673');

what is the type where digitap data ids ('52822','52673','52663')
select type from digitap_data where digitap_data_id in ('52822','52673','52663');

is the id digitap data ids ('52822','52673','52669','52663','52806') reparsed.
select reparse from digitap_data where digitap_data_id in ('52822','52673','52669','52663','52806');

for digitap data ids ('52663') who is the vendor
select vendor from digitap_data where digitap_data_id in ('52663');

when was digitap data ids ('52669','52673','52806','52822') updated
select updatedon from digitap_data where digitap_data_id in ('52669','52673','52806','52822');

for digitap data ids ('52806','52822','52663','52673') did we find multiple accounts
select multiple_accounts_found from digitap_data where digitap_data_id in ('52806','52822','52663','52673');

what is the category config for digitap data ids ('52663','52669')
select category_config from digitap_data where digitap_data_id in ('52663','52669');

what all configs related to category have been set for digitap data ids ('52822','52806','52663','52669','52673')
select category_config from digitap_data where digitap_data_id in ('52822','52806','52663','52669','52673');

what is the upi logic version for digitap data ids ('52669')
select upi_version from digitap_data where digitap_data_id in ('52669');

what is the upi version for digitap data ids ('52663')
select upi_version from digitap_data where digitap_data_id in ('52663');

what is the categ_code_version for digitap data ids ('52669','52806')
select catg_code_version from digitap_data where digitap_data_id in ('52669','52806');

which version of category ran for digitap data ids ('52673')
select catg_code_version from digitap_data where digitap_data_id in ('52673');

what is the derived variable version for digitap data ids ('52669','52806','52822','52673','52663')
select derv_var_code_version from digitap_data where digitap_data_id in ('52669','52806','52822','52673','52663');

what is the derived variable code version for digitap data ids ('52663','52806')
select derv_var_code_version from digitap_data where digitap_data_id in ('52663','52806');

digitap data id of digitap transactions info id 41402709;
select digitap_data_id from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the digitap data id where digitap transactions info id 41402709
select digitap_data_id from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the accounts info id where the  digitap transactions info id is 41402709
select digitap_accounts_info_id from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is category predicted for digitap_transactions_info id 41402709
select category from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the provided bank reference number for digitap_transactions_info_id 41402709
select reference from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the amount of transaction where digitap_transactions_info_id 41402709
select amount from digitap_transactions_info where digitap_transactions_info_id=41402709;

give me the narration for digitap_transactions_info_id 41402709
select narration from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the narration for digitap_transactions_info_id 41402709
select narration from digitap_transactions_info where digitap_transactions_info_id=41402709;

what date was the txn happened where digitap_transactions_info_id 41402709
select date from digitap_transactions_info where digitap_transactions_info_id=41402709;

when the txn happened where digitap_transactions_info_id 41402709
select date from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the balance of the user after the txn, where digitap_transactions_info_id=41402709 
select balance from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the oprning balance of the day with digitap_transactions_info_id 41402709
select openingBalance from digitap_transactions_info where digitap_transactions_info_id=41402709;

is the txn belonging to digitap_transactions_info_id 41402709  ignorable transaction?
select ignorableTransaction from digitap_transactions_info where digitap_transactions_info_id=41402709;

is the txn with digitap_transactions_info_id 41402709 happened on holiday  
select holiday from digitap_transactions_info where digitap_transactions_info_id=41402709;

when was the record updated on digitap_transactions_info table with digitap_transactions_info_id_id 41402709;
select updatedon from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the of the txn having digitap_transactions_info_id 41402709;
select cheque_num from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the custom month used for salary for digitap_transactions_info_id 41402709
select sal_month from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the narration used for clustering for digitap_transactions_info_id 41402709
select cleaned_narration_salary from digitap_transactions_info where digitap_transactions_info_id=41402709;

what the name vs salary model predicted for digitap_transactions_info_id 41402709
select NER_prediction from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the cluster number for digitap_transactions_info_id 41402709
select cluster from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the employer_name for digitap_transactions_info_id 41402709
select employer_name from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the merchant name for digitap_transactions_info_id 41402709
select merchant_name from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the subcategory predicted for digitap_transactions_info_id 41402709
select sub_category from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the payment mode extracted for digitap_transactions_info_id 41402709
select payment_mode from digitap_transactions_info where digitap_transactions_info_id=41402709;

upi_id extracted for digitap_transactions_info_id 41402709
select upi_id from digitap_transactions_info where digitap_transactions_info_id=41402709;

upi api result code for digitap_transactions_info_id 41402709
select result_code from digitap_transactions_info where digitap_transactions_info_id=41402709;

extracted bank reference id for digitap_transactions_info_id 41402709
select bankref_id from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the vpa entity type for digitap_transactions_info_id 41402709
select vpa_entity_type from digitap_transactions_info where digitap_transactions_info_id=41402709;

who is the remitter / beneficiary for digitap_transactions_info_id 41402709
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id=41402709;

extracted sender for digitap_transactions_info_id 41402709
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id=41402709;

who is the receiver for digitap_transactions_info_id 41402709
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id=41402709;

what is the legal name for digitap_transactions_info_id 41402709
select legal_name from digitap_transactions_info where digitap_transactions_info_id=41402709;

digitap data id of digitap transactions info id in ('74564623','956745656','4140224234','242546776','41402709');
select digitap_data_id from digitap_transactions_info where digitap_transactions_info_id in ('74564623','956745656','4140224234','242546776','41402709');

what is the digitap data id where digitap transactions info id in ('74564623')
select digitap_data_id from digitap_transactions_info where digitap_transactions_info_id in ('74564623');

what is the accounts info id where the  digitap transactions info id is ('242546776','74564623','956745656','41402709')
select digitap_accounts_info_id from digitap_transactions_info where digitap_transactions_info_id in ('242546776','74564623','956745656','41402709');

what is category predicted for digitap transactions info id in ('956745656','41402709','74564623')
select category from digitap_transactions_info where digitap_transactions_info_id in ('956745656','41402709','74564623');

what is the provided bank reference number for digitap transactions info id in ('74564623','41402709','242546776','956745656')
select reference from digitap_transactions_info where digitap_transactions_info_id in ('74564623','41402709','242546776','956745656');

what is the amount of transaction where digitap transactions info id in ('956745656')
select amount from digitap_transactions_info where digitap_transactions_info_id in ('956745656');

give me the narration for digitap transactions info id in ('956745656')
select narration from digitap_transactions_info where digitap_transactions_info_id in ('956745656');

what is the narration for digitap transactions info id in ('41402709','74564623','4140224234')
select narration from digitap_transactions_info where digitap_transactions_info_id in ('41402709','74564623','4140224234');

what date was the txn happened where digitap transactions info id in ('41402709','74564623','956745656','242546776','4140224234')
select date from digitap_transactions_info where digitap_transactions_info_id in ('41402709','74564623','956745656','242546776','4140224234');

when the txn happened where digitap transactions info id in ('41402709','4140224234','74564623','956745656')
select date from digitap_transactions_info where digitap_transactions_info_id in ('41402709','4140224234','74564623','956745656');

what is the balance of the user after the txn, where digitap_transactions_info_id=('74564623','242546776','41402709','956745656')
select balance from digitap_transactions_info where digitap_transactions_info_id in ('74564623','242546776','41402709','956745656');

what is the oprning balance of the day with digitap transactions info id in ('74564623','41402709','4140224234','956745656','242546776')
select openingBalance from digitap_transactions_info where digitap_transactions_info_id in ('74564623','41402709','4140224234','956745656','242546776');

is the txn belonging to digitap transactions info id in ('956745656','41402709','74564623','242546776')  ignorable transaction?
select ignorableTransaction from digitap_transactions_info where digitap_transactions_info_id in ('956745656','41402709','74564623','242546776');

is the txn with digitap transactions info id in ('242546776') happened on holiday  
select holiday from digitap_transactions_info where digitap_transactions_info_id in ('242546776');

when was the record updated on digitap_transactions_info table with digitap_transactions_info_id_id 41402709;
select updatedon from digitap_transactions_info where digitap_transactions_info_id in ('74564623','41402709','956745656','242546776');

what is the of the txn having digitap transactions info id in ('4140224234','242546776','41402709');
select cheque_num from digitap_transactions_info where digitap_transactions_info_id in ('4140224234','242546776','41402709');

what is the custom month used for salary for digitap transactions info id in ('74564623','242546776','4140224234','956745656')
select sal_month from digitap_transactions_info where digitap_transactions_info_id in ('74564623','242546776','4140224234','956745656');

what is the narration used for clustering for digitap transactions info id in ('956745656','242546776','41402709','74564623')
select cleaned_narration_salary from digitap_transactions_info where digitap_transactions_info_id in ('956745656','242546776','41402709','74564623');

what the name vs salary model predicted for digitap transactions info id in ('41402709','4140224234','74564623','242546776','956745656')
select NER_prediction from digitap_transactions_info where digitap_transactions_info_id in ('41402709','4140224234','74564623','242546776','956745656');

what is the cluster number for digitap transactions info id in ('74564623','242546776','956745656')
select cluster from digitap_transactions_info where digitap_transactions_info_id in ('74564623','242546776','956745656');

what is the employer_name for digitap transactions info id in ('956745656','4140224234','242546776')
select employer_name from digitap_transactions_info where digitap_transactions_info_id in ('956745656','4140224234','242546776');

what is the merchant name for digitap transactions info id in ('41402709','956745656','242546776','74564623')
select merchant_name from digitap_transactions_info where digitap_transactions_info_id in ('41402709','956745656','242546776','74564623');

what is the subcategory predicted for digitap transactions info id in ('74564623','41402709','956745656','242546776','4140224234')
select sub_category from digitap_transactions_info where digitap_transactions_info_id in ('74564623','41402709','956745656','242546776','4140224234');

what is the payment mode extracted for digitap transactions info id in ('956745656','74564623','242546776','4140224234','41402709')
select payment_mode from digitap_transactions_info where digitap_transactions_info_id in ('956745656','74564623','242546776','4140224234','41402709');

upi_id extracted for digitap transactions info id in ('74564623','4140224234','242546776')
select upi_id from digitap_transactions_info where digitap_transactions_info_id in ('74564623','4140224234','242546776');

upi api result code for digitap transactions info id in ('956745656','4140224234')
select result_code from digitap_transactions_info where digitap_transactions_info_id in ('956745656','4140224234');

extracted bank reference id for digitap transactions info id in ('4140224234','74564623','41402709')
select bankref_id from digitap_transactions_info where digitap_transactions_info_id in ('4140224234','74564623','41402709');

what is the vpa entity type for digitap transactions info id in ('41402709','74564623','956745656','242546776','4140224234')
select vpa_entity_type from digitap_transactions_info where digitap_transactions_info_id in ('41402709','74564623','956745656','242546776','4140224234');

who is the remitter / beneficiary for digitap transactions info id in ('41402709','4140224234','242546776','956745656')
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id in ('41402709','4140224234','242546776','956745656');

extracted sender for digitap transactions info id in ('242546776')
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id in ('242546776');

who is the receiver for digitap transactions info id in ('956745656','242546776')
select remitter_beneficiary from digitap_transactions_info where digitap_transactions_info_id in ('956745656','242546776');

what is the legal name for digitap transactions info id in ('41402709','242546776','956745656')
select legal_name from digitap_transactions_info where digitap_transactions_info_id in ('41402709','242546776','956745656');

how many transaction does the user with digitap_data_id 52913 have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id=52913

how many credit txns does the user with digitap_data_id 52913 have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id=52913 and amount>=0

how many debit txns does the user with digitap_data_id 52913 have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id=52913 and amount<0

give me the txns with category Salary where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Salary'; 

give me the txns with category Cash Deposit where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Cash Deposit'; 

give me the txns with category Loan Disbursed where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Loan Disbursed'; 

give me the txns with category Investment Income where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Investment Income'; 

give me the txns with category Insurance where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Insurance'; 

all user transactions with category Rewards & Allowances where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Rewards & Allowances'; 

give me the txns with category Tax where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Tax'; 

all user transactions with category Bounced I/W Cheque where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced I/W Cheque'; 

give me the txns with category Bounced I/W ECS where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced I/W ECS'; 

give me the txns with category Interest where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Interest'; 

give me the txns with category Reversal where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Reversal'; 

give me the txns with category Transfer in where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Transfer in'; 

give me the txns with category Cash Withdrawal where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Cash Withdrawal'; 

give me the txns with category Loan & EMI Repayment where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Loan & EMI Repayment'; 

give me the txns with category Personal Loan where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Personal Loan'; 

give me the txns with category Home Loan where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Home Loan'; 

all user transactions with category Auto Loan where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Auto Loan'; 

give me the txns with category Credit Card Payment where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Credit Card Payment'; 

give me the txns with category Bills & Utilities where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bills & Utilities'; 

give me the txns with category Food where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Food'; 

give me the txns with category Alcohol where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Alcohol'; 

give me the txns with category Travel where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Travel'; 

give me the txns with category Entertainment & Lifestyle where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Entertainment & Lifestyle'; 

give me the txns with category Shopping & Purchase where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Shopping & Purchase'; 

give me the txns with category Investment Expense where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Investment Expense'; 

give me the txns with category Insurance where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Insurance'; 

all user transactions with category Transfer to Wallet where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Transfer to Wallet'; 

give me the txns with category Foreign Wallet where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Foreign Wallet'; 

give me the txns with category Bounced O/W Cheque where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced O/W Cheque'; 

give me the txns with category Bounced I/W ECS Charges where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced I/W ECS Charges'; 

give me the txns with category Bounced O/W Cheque Charges where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced O/W Cheque Charges'; 

all user transactions with category Bounced I/W Cheque Charges where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Bounced I/W Cheque Charges'; 

give me the txns with category Tax where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Tax'; 

give me the txns with category Charges where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Charges'; 

give me the txns with category Below Min Balance where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Below Min Balance'; 

all user transactions with category Gaming where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Gaming'; 

give me the txns with category Salary Paid where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Salary Paid'; 

give me the txns with category Reversal where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Reversal'; 

what all txns with category Transfer out where digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category='Transfer out'; 

all transactions where category like loan for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%loan%'; 

all transactions where category like charge for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%charge%'; 

transactions where category like investment for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%investment%'; 

transactions where category like insurance for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%insurance%'; 

transactions where category like transfer for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%transfer%'; 

transactions where category like transfer to for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%transfer to%'; 

transactions where category like transfer from for user digitap_data_id 52913
select * from digitap_transactions_info where digitap_data_id=52913 and category like '%transfer from%'; 

how many transaction does the user with digitap data id in ('52806','52663','52673') have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id in ('52806','52663','52673')

how many credit txns does the user with digitap data id in ('52806','52663','52669','52673') have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id in ('52806','52663','52669','52673') and amount>=0

how many debit txns does the user with digitap data id in ('52806','52669','52663','52822') have
select count(*) as total_txns from digitap_transactions_info where digitap_data_id in ('52806','52669','52663','52822') and amount<0

give me the txns with category Salary where digitap data id in ('52673','52822','52663','52806','52669')
select * from digitap_transactions_info where digitap_data_id in ('52673','52822','52663','52806','52669') and category='Salary'; 

give me the txns with category Cash Deposit where digitap data id in ('52663','52669','52673','52822','52806')
select * from digitap_transactions_info where digitap_data_id in ('52663','52669','52673','52822','52806') and category='Cash Deposit'; 

give me the txns with category Loan Disbursed where digitap data id in ('52673','52669','52663','52806','52822')
select * from digitap_transactions_info where digitap_data_id in ('52673','52669','52663','52806','52822') and category='Loan Disbursed'; 

give me the txns with category Investment Income where digitap data id in ('52806','52669','52663','52673')
select * from digitap_transactions_info where digitap_data_id in ('52806','52669','52663','52673') and category='Investment Income'; 

give me the txns with category Insurance where digitap data id in ('52822')
select * from digitap_transactions_info where digitap_data_id in ('52822') and category='Insurance'; 

all user transactions with category Rewards & Allowances where digitap data id in ('52822','52663')
select * from digitap_transactions_info where digitap_data_id in ('52822','52663') and category='Rewards & Allowances'; 

give me the txns with category Tax where digitap data id in ('52806','52663','52822','52669','52673')
select * from digitap_transactions_info where digitap_data_id in ('52806','52663','52822','52669','52673') and category='Tax'; 

all user transactions with category Bounced I/W Cheque where digitap data id in ('52806','52673')
select * from digitap_transactions_info where digitap_data_id in ('52806','52673') and category='Bounced I/W Cheque'; 

give me the txns with category Bounced I/W ECS where digitap data id in ('52663','52673','52806','52669')
select * from digitap_transactions_info where digitap_data_id in ('52663','52673','52806','52669') and category='Bounced I/W ECS'; 

give me the txns with category Interest where digitap data id in ('52822','52669','52673','52663','52806')
select * from digitap_transactions_info where digitap_data_id in ('52822','52669','52673','52663','52806') and category='Interest'; 

give me the txns with category Reversal where digitap data id in ('52663','52673','52822','52669','52806')
select * from digitap_transactions_info where digitap_data_id in ('52663','52673','52822','52669','52806') and category='Reversal'; 

give me the txns with category Transfer in where digitap data id in ('52673','52806','52822')
select * from digitap_transactions_info where digitap_data_id in ('52673','52806','52822') and category='Transfer in'; 

give me the txns with category Cash Withdrawal where digitap data id in ('52663','52669')
select * from digitap_transactions_info where digitap_data_id in ('52663','52669') and category='Cash Withdrawal'; 

give me the txns with category Loan & EMI Repayment where digitap data id in ('52673')
select * from digitap_transactions_info where digitap_data_id in ('52673') and category='Loan & EMI Repayment'; 

give me the txns with category Personal Loan where digitap data id in ('52822','52669','52663','52673','52806')
select * from digitap_transactions_info where digitap_data_id in ('52822','52669','52663','52673','52806') and category='Personal Loan'; 

give me the txns with category Home Loan where digitap data id in ('52673','52669','52663','52822','52806')
select * from digitap_transactions_info where digitap_data_id in ('52673','52669','52663','52822','52806') and category='Home Loan'; 

all user transactions with category Auto Loan where digitap data id in ('52822','52673')
select * from digitap_transactions_info where digitap_data_id in ('52822','52673') and category='Auto Loan'; 

give me the txns with category Credit Card Payment where digitap data id in ('52822','52806','52663')
select * from digitap_transactions_info where digitap_data_id in ('52822','52806','52663') and category='Credit Card Payment'; 

give me the txns with category Bills & Utilities where digitap data id in ('52822','52673','52663')
select * from digitap_transactions_info where digitap_data_id in ('52822','52673','52663') and category='Bills & Utilities'; 

give me the txns with category Food where digitap data id in ('52663','52669','52822','52673')
select * from digitap_transactions_info where digitap_data_id in ('52663','52669','52822','52673') and category='Food'; 

give me the txns with category Alcohol where digitap data id in ('52669','52663','52806','52673')
select * from digitap_transactions_info where digitap_data_id in ('52669','52663','52806','52673') and category='Alcohol'; 

give me the txns with category Travel where digitap data id in ('52669')
select * from digitap_transactions_info where digitap_data_id in ('52669') and category='Travel'; 

give me the txns with category Entertainment & Lifestyle where digitap data id in ('52673','52663')
select * from digitap_transactions_info where digitap_data_id in ('52673','52663') and category='Entertainment & Lifestyle'; 

give me the txns with category Shopping & Purchase where digitap data id in ('52663','52673')
select * from digitap_transactions_info where digitap_data_id in ('52663','52673') and category='Shopping & Purchase'; 

give me the txns with category Investment Expense where digitap data id in ('52663')
select * from digitap_transactions_info where digitap_data_id in ('52663') and category='Investment Expense'; 

give me the txns with category Insurance where digitap data id in ('52673')
select * from digitap_transactions_info where digitap_data_id in ('52673') and category='Insurance'; 

all user transactions with category Transfer to Wallet where digitap data id in ('52673','52663')
select * from digitap_transactions_info where digitap_data_id in ('52673','52663') and category='Transfer to Wallet'; 

give me the txns with category Foreign Wallet where digitap data id in ('52822')
select * from digitap_transactions_info where digitap_data_id in ('52822') and category='Foreign Wallet'; 

give me the txns with category Bounced O/W Cheque where digitap data id in ('52673','52822','52806','52669')
select * from digitap_transactions_info where digitap_data_id in ('52673','52822','52806','52669') and category='Bounced O/W Cheque'; 

give me the txns with category Bounced I/W ECS Charges where digitap data id in ('52822','52669','52673')
select * from digitap_transactions_info where digitap_data_id in ('52822','52669','52673') and category='Bounced I/W ECS Charges'; 

give me the txns with category Bounced O/W Cheque Charges where digitap data id in ('52669')
select * from digitap_transactions_info where digitap_data_id in ('52669') and category='Bounced O/W Cheque Charges'; 

all user transactions with category Bounced I/W Cheque Charges where digitap data id in ('52663','52669','52806','52822','52673')
select * from digitap_transactions_info where digitap_data_id in ('52663','52669','52806','52822','52673') and category='Bounced I/W Cheque Charges'; 

give me the txns with category Tax where digitap data id in ('52806')
select * from digitap_transactions_info where digitap_data_id in ('52806') and category='Tax'; 

give me the txns with category Charges where digitap data id in ('52663','52669')
select * from digitap_transactions_info where digitap_data_id in ('52663','52669') and category='Charges'; 

give me the txns with category Below Min Balance where digitap data id in ('52673','52822','52663')
select * from digitap_transactions_info where digitap_data_id in ('52673','52822','52663') and category='Below Min Balance'; 

all user transactions with category Gaming where digitap data id in ('52663','52806','52822','52673')
select * from digitap_transactions_info where digitap_data_id in ('52663','52806','52822','52673') and category='Gaming'; 

give me the txns with category Salary Paid where digitap data id in ('52669','52673')
select * from digitap_transactions_info where digitap_data_id in ('52669','52673') and category='Salary Paid'; 

give me the txns with category Reversal where digitap data id in ('52673','52806')
select * from digitap_transactions_info where digitap_data_id in ('52673','52806') and category='Reversal'; 

what all txns with category Transfer out where digitap data id in ('52673','52822','52669','52806')
select * from digitap_transactions_info where digitap_data_id in ('52673','52822','52669','52806') and category='Transfer out'; 

all transactions where category like loan for user digitap data id in ('52806','52673')
select * from digitap_transactions_info where digitap_data_id in ('52806','52673') and category like '%loan%'; 

all transactions where category like charge for user digitap data id in ('52673','52669')
select * from digitap_transactions_info where digitap_data_id in ('52673','52669') and category like '%charge%'; 

transactions where category like investment for user digitap data id in ('52673','52669','52822','52663','52806')
select * from digitap_transactions_info where digitap_data_id in ('52673','52669','52822','52663','52806') and category like '%investment%'; 

transactions where category like insurance for user digitap data id in ('52822','52663','52806')
select * from digitap_transactions_info where digitap_data_id in ('52822','52663','52806') and category like '%insurance%'; 

transactions where category like transfer for user digitap data id in ('52806','52669','52822','52663','52673')
select * from digitap_transactions_info where digitap_data_id in ('52806','52669','52822','52663','52673') and category like '%transfer%'; 

transactions where category like transfer to for user digitap data id in ('52663','52673','52669','52806','52822')
select * from digitap_transactions_info where digitap_data_id in ('52663','52673','52669','52806','52822') and category like '%transfer to%'; 

transactions where category like transfer from for user digitap data id in ('52663','52806','52822')
select * from digitap_transactions_info where digitap_data_id in ('52663','52806','52822') and category like '%transfer from%'; 

give me all the txns of user where txn_id da109bf3
select count(t3.*) as total_txns from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3'; 

give me all the txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3'; 

give me all the Salary txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Salary'; 

give me all the Cash Deposit txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Cash Deposit'; 

give me all the Loan Disbursed txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Loan Disbursed'; 

give me all the Investment Income txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Investment Income'; 

give me all the Insurance txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Insurance'; 

give me all the Rewards & Allowances txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Rewards & Allowances'; 

give me all the Tax txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Tax'; 

give me all the Bounced I/W Cheque txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced I/W Cheque'; 

give me all the Bounced I/W ECS txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced I/W ECS'; 

give me all the Interest txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Interest'; 

give me all the Reversal txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Reversal'; 

give me all the Transfer in txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Transfer in'; 

give me all the Cash Withdrawal txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Cash Withdrawal'; 

give me all the Loan & EMI Repayment txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Loan & EMI Repayment'; 

give me all the Personal Loan txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Personal Loan'; 

give me all the Home Loan txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Home Loan'; 

give me all the Auto Loan txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Auto Loan'; 

give me all the Credit Card Payment txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Credit Card Payment'; 

give me all the Bills & Utilities txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bills & Utilities'; 

give me all the Food txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Food'; 

give me all the Alcohol txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Alcohol'; 

give me all the Travel txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Travel'; 

give me all the Entertainment & Lifestyle txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Entertainment & Lifestyle'; 

give me all the Shopping & Purchase txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Shopping & Purchase'; 

give me all the Investment Expense txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Investment Expense'; 

give me all the Insurance txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Insurance'; 

give me all the Transfer to Wallet txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Transfer to Wallet'; 

give me all the Foreign Wallet txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Foreign Wallet'; 

give me all the Bounced O/W Cheque txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced O/W Cheque'; 

give me all the Bounced I/W ECS Charges txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced I/W ECS Charges'; 

give me all the Bounced O/W Cheque Charges txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced O/W Cheque Charges'; 

give me all the Bounced I/W Cheque Charges txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Bounced I/W Cheque Charges'; 

give me all the Tax txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Tax'; 

give me all the Charges txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Charges'; 

give me all the Below Min Balance txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Below Min Balance'; 

give me all the Gaming txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Gaming'; 

give me all the Salary Paid txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Salary Paid'; 

give me all the Reversal txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Reversal'; 

give me all the Transfer out txns of user where txn_id da109bf3
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where t1.txn_id='da109bf3' and category='Transfer out'; 

give me all the txns of user where transaction ids in ('da109c0c','da109c5d','da109c12')
select count(t3.*) as total_txns from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c5d','da109c12'); 

give me all the txns of user where transaction ids in ('da109c12','da109c57','da109bfb','da109c0c','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109c57','da109bfb','da109c0c','da109c5d'); 

give me all the Salary txns of user where transaction ids in ('da109c12','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109c57') and category='Salary'; 

give me all the Cash Deposit txns of user where transaction ids in ('da109c57','da109c0c','da109bfb','da109c5d','da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109c0c','da109bfb','da109c5d','da109c12') and category='Cash Deposit'; 

give me all the Loan Disbursed txns of user where transaction ids in ('da109c0c')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c') and category='Loan Disbursed'; 

give me all the Investment Income txns of user where transaction ids in ('da109c57','da109bfb','da109c12','da109c0c')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109bfb','da109c12','da109c0c') and category='Investment Income'; 

give me all the Insurance txns of user where transaction ids in ('da109c5d','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c57') and category='Insurance'; 

give me all the Rewards & Allowances txns of user where transaction ids in ('da109c0c')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c') and category='Rewards & Allowances'; 

give me all the Tax txns of user where transaction ids in ('da109c0c','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109bfb') and category='Tax'; 

give me all the Bounced I/W Cheque txns of user where transaction ids in ('da109c12','da109c5d','da109c57','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109c5d','da109c57','da109bfb') and category='Bounced I/W Cheque'; 

give me all the Bounced I/W ECS txns of user where transaction ids in ('da109c0c','da109c12','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c12','da109bfb') and category='Bounced I/W ECS'; 

give me all the Interest txns of user where transaction ids in ('da109c5d','da109c57','da109c12','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c57','da109c12','da109bfb') and category='Interest'; 

give me all the Reversal txns of user where transaction ids in ('da109c5d','da109c0c','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c0c','da109c57') and category='Reversal'; 

give me all the Transfer in txns of user where transaction ids in ('da109bfb','da109c57','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109bfb','da109c57','da109c5d') and category='Transfer in'; 

give me all the Cash Withdrawal txns of user where transaction ids in ('da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57') and category='Cash Withdrawal'; 

give me all the Loan & EMI Repayment txns of user where transaction ids in ('da109c12','da109bfb','da109c57','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109bfb','da109c57','da109c5d') and category='Loan & EMI Repayment'; 

give me all the Personal Loan txns of user where transaction ids in ('da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d') and category='Personal Loan'; 

give me all the Home Loan txns of user where transaction ids in ('da109c5d','da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c12') and category='Home Loan'; 

give me all the Auto Loan txns of user where transaction ids in ('da109bfb','da109c0c')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109bfb','da109c0c') and category='Auto Loan'; 

give me all the Credit Card Payment txns of user where transaction ids in ('da109c5d','da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c12') and category='Credit Card Payment'; 

give me all the Bills & Utilities txns of user where transaction ids in ('da109c57','da109c12','da109c5d','da109bfb','da109c0c')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109c12','da109c5d','da109bfb','da109c0c') and category='Bills & Utilities'; 

give me all the Food txns of user where transaction ids in ('da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d') and category='Food'; 

give me all the Alcohol txns of user where transaction ids in ('da109c57','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109c5d') and category='Alcohol'; 

give me all the Travel txns of user where transaction ids in ('da109c57','da109c0c','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109c0c','da109bfb') and category='Travel'; 

give me all the Entertainment & Lifestyle txns of user where transaction ids in ('da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57') and category='Entertainment & Lifestyle'; 

give me all the Shopping & Purchase txns of user where transaction ids in ('da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12') and category='Shopping & Purchase'; 

give me all the Investment Expense txns of user where transaction ids in ('da109c12','da109bfb','da109c5d','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109bfb','da109c5d','da109c57') and category='Investment Expense'; 

give me all the Insurance txns of user where transaction ids in ('da109c0c','da109c12','da109c5d','da109c57','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c12','da109c5d','da109c57','da109bfb') and category='Insurance'; 

give me all the Transfer to Wallet txns of user where transaction ids in ('da109bfb','da109c12','da109c5d','da109c0c','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109bfb','da109c12','da109c5d','da109c0c','da109c57') and category='Transfer to Wallet'; 

give me all the Foreign Wallet txns of user where transaction ids in ('da109c0c','da109c5d','da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c5d','da109c12') and category='Foreign Wallet'; 

give me all the Bounced O/W Cheque txns of user where transaction ids in ('da109c5d','da109bfb','da109c12','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109bfb','da109c12','da109c57') and category='Bounced O/W Cheque'; 

give me all the Bounced I/W ECS Charges txns of user where transaction ids in ('da109c12','da109c57')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109c57') and category='Bounced I/W ECS Charges'; 

give me all the Bounced O/W Cheque Charges txns of user where transaction ids in ('da109c0c','da109c12','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c12','da109bfb') and category='Bounced O/W Cheque Charges'; 

give me all the Bounced I/W Cheque Charges txns of user where transaction ids in ('da109c12','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109bfb') and category='Bounced I/W Cheque Charges'; 

give me all the Tax txns of user where transaction ids in ('da109c5d','da109c0c','da109c57','da109bfb','da109c12')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c0c','da109c57','da109bfb','da109c12') and category='Tax'; 

give me all the Charges txns of user where transaction ids in ('da109bfb','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109bfb','da109c5d') and category='Charges'; 

give me all the Below Min Balance txns of user where transaction ids in ('da109c12','da109c0c','da109bfb','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c12','da109c0c','da109bfb','da109c5d') and category='Below Min Balance'; 

give me all the Gaming txns of user where transaction ids in ('da109c0c','da109c57','da109c12','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c57','da109c12','da109c5d') and category='Gaming'; 

give me all the Salary Paid txns of user where transaction ids in ('da109c5d','da109c12','da109c0c','da109c57','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c5d','da109c12','da109c0c','da109c57','da109bfb') and category='Salary Paid'; 

give me all the Reversal txns of user where transaction ids in ('da109c57','da109c5d','da109c0c','da109c12','da109bfb')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c57','da109c5d','da109c0c','da109c12','da109bfb') and category='Reversal'; 

give me all the Transfer out txns of user where transaction ids in ('da109c0c','da109c5d')
select t3.* from transaction t1 join digitap_data t2 on t1.txn_id=t2.digitap_txn_id join digitap_transactions_info t3 on t2.digitap_data_id=t3.digitap_data_id where txn_id in ('da109c0c','da109c5d') and category='Transfer out'; 

what is the institution name for txn_id da109bf3;
select t1.name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the institution_code name for txn_id da109bf3;
select t1.code from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

institution type for txn_id da109bf3;
select t1.inst_type from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

user name text for txn_id da109bf3;
select t1.username_text from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the password_text for txn_id da109bf3;
select t1.password_text from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the institution_status for txn_id da109bf3;
select t1.institution_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the status of txn_id da109bf3;
select t1.institution_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

scraper name of txn_id da109bf3;
select t1.scrapper_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

scrapper name of txn_id da109bf3;
select t1.scrapper_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

status of the scrapper for txn_id da109bf3;
select t1.scrapper_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

net banking status for txn_id da109bf3;
select t1.netbanking_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is net banking enabled for txn_id da109bf3;
select t1.netbanking_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is pdf enabled for txn_id da109bf3;
select t1.pdf_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the user details extraction mode for txn_id da109bf3;
select t1.user_details_extraction_mode from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

pdf scanned enabled for txn_id da109bf3;
select t1.pdf_scanned_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the anchor bank for txn_id da109bf3;
select t1.anchor_bank from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

display name for txn_id da109bf3;
select t1.display_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is email enable for txn_id da109bf3;
select t1.email_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the new net banking rolled out % for txn_id da109bf3;
select t1.new_nb_rollout_percentage from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the scrapper type for txn_id da109bf3;
select t1.scraper_type from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is form 26as enabled for txn_id da109bf3;
select t1.form26as_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is form26as enabled for txn_id da109bf3;
select t1.form26as_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is itr form enabled of txn_id da109bf3;
select t1.itr_form_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is itvr enabled for txn_id da109bf3;
select t1.itrv_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the disp message auto id for txn_id da109bf3;
select t1.disp_msg_auto_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the display message auto id for txn_id da109bf3;
select t1.disp_msg_auto_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

give me the user name regex of txn_id da109bf3;
select t1.username_regex from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is aa_enabled of txn_id da109bf3;
select t1.aa_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is account aggregator enabled of txn_id da109bf3;
select t1.aa_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the fip_id of txn_id da109bf3;
select t1.fip_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the fip_name of txn_id da109bf3;
select t1.fip_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what are all the aa vendors of txn_id da109bf3;
select t1.aa_vendors from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what are all the account aggregator vendors of txn_id da109bf3;
select t1.aa_vendors from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what are all the fi types of txn_id da109bf3;
select t1.fi_types from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is the extended institution pdf enabled for txn_id da109bf3;
select t1.extended_institution_pdf_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

is the extended institution pdf scanned enabled for txn_id da109bf3;
select t1.extended_institution_pdf_scanned_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the fip sahamati name of txn_id da109bf3;
select t1.fip_sahamati_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where t2.txn_id='da109bf3';

what is the institution name for transaction ids in ('da109c0c','da109c57');
select t1.name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c57');

what is the institution_code name for transaction ids in ('da109c0c','da109c57','da109c12','da109c5d','da109bfb');
select t1.code from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c57','da109c12','da109c5d','da109bfb');

institution type for transaction ids in ('da109bfb','da109c0c','da109c57','da109c12','da109c5d');
select t1.inst_type from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb','da109c0c','da109c57','da109c12','da109c5d');

user name text for transaction ids in ('da109c0c','da109c12');
select t1.username_text from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c12');

what is the password_text for transaction ids in ('da109c0c','da109c57');
select t1.password_text from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c57');

what is the institution_status for transaction ids in ('da109c5d','da109c12','da109c57');
select t1.institution_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c5d','da109c12','da109c57');

what is the status of transaction ids in ('da109c12','da109c0c');
select t1.institution_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109c0c');

scraper name of transaction ids in ('da109c12','da109c57','da109c0c');
select t1.scrapper_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109c57','da109c0c');

scrapper name of transaction ids in ('da109c57','da109c0c','da109bfb','da109c5d','da109c12');
select t1.scrapper_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57','da109c0c','da109bfb','da109c5d','da109c12');

status of the scrapper for transaction ids in ('da109bfb','da109c57','da109c5d','da109c12','da109c0c');
select t1.scrapper_status from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb','da109c57','da109c5d','da109c12','da109c0c');

net banking status for transaction ids in ('da109c57','da109c12');
select t1.netbanking_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57','da109c12');

is net banking enabled for transaction ids in ('da109c0c','da109c12','da109bfb');
select t1.netbanking_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c12','da109bfb');

is pdf enabled for transaction ids in ('da109c0c','da109c5d');
select t1.pdf_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c5d');

what is the user details extraction mode for transaction ids in ('da109bfb');
select t1.user_details_extraction_mode from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb');

pdf scanned enabled for transaction ids in ('da109c12','da109bfb','da109c5d','da109c0c','da109c57');
select t1.pdf_scanned_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109bfb','da109c5d','da109c0c','da109c57');

what is the anchor bank for transaction ids in ('da109bfb','da109c57','da109c0c','da109c12','da109c5d');
select t1.anchor_bank from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb','da109c57','da109c0c','da109c12','da109c5d');

display name for transaction ids in ('da109c57','da109c12','da109c5d');
select t1.display_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57','da109c12','da109c5d');

is email enable for transaction ids in ('da109bfb','da109c0c','da109c12','da109c5d','da109c57');
select t1.email_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb','da109c0c','da109c12','da109c5d','da109c57');

what is the new net banking rolled out % for transaction ids in ('da109c57','da109bfb');
select t1.new_nb_rollout_percentage from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57','da109bfb');

what is the scrapper type for transaction ids in ('da109c0c');
select t1.scraper_type from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c');

is form 26as enabled for transaction ids in ('da109c12','da109c57','da109c0c','da109c5d');
select t1.form26as_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109c57','da109c0c','da109c5d');

is form26as enabled for transaction ids in ('da109c0c');
select t1.form26as_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c');

is itr form enabled of transaction ids in ('da109c12','da109c57','da109c0c');
select t1.itr_form_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109c57','da109c0c');

is itvr enabled for transaction ids in ('da109c0c','da109bfb','da109c12','da109c57');
select t1.itrv_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109bfb','da109c12','da109c57');

what is the disp message auto id for transaction ids in ('da109c5d','da109c0c','da109c12','da109c57');
select t1.disp_msg_auto_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c5d','da109c0c','da109c12','da109c57');

what is the display message auto id for transaction ids in ('da109c5d','da109c12','da109c0c','da109bfb','da109c57');
select t1.disp_msg_auto_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c5d','da109c12','da109c0c','da109bfb','da109c57');

give me the user name regex of transaction ids in ('da109c57','da109c5d','da109c12','da109bfb');
select t1.username_regex from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57','da109c5d','da109c12','da109bfb');

is aa_enabled of transaction ids in ('da109c0c','da109c5d','da109c57','da109c12','da109bfb');
select t1.aa_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c5d','da109c57','da109c12','da109bfb');

is account aggregator enabled of transaction ids in ('da109c0c','da109c5d','da109bfb','da109c12','da109c57');
select t1.aa_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c5d','da109bfb','da109c12','da109c57');

what is the fip_id of transaction ids in ('da109c5d');
select t1.fip_id from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c5d');

what is the fip_name of transaction ids in ('da109bfb');
select t1.fip_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb');

what are all the aa vendors of transaction ids in ('da109bfb','da109c5d','da109c12','da109c0c');
select t1.aa_vendors from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109bfb','da109c5d','da109c12','da109c0c');

what are all the account aggregator vendors of transaction ids in ('da109c57');
select t1.aa_vendors from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c57');

what are all the fi types of transaction ids in ('da109c0c','da109c5d','da109c12','da109c57','da109bfb');
select t1.fi_types from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109c5d','da109c12','da109c57','da109bfb');

is the extended institution pdf enabled for transaction ids in ('da109c0c','da109bfb','da109c57');
select t1.extended_institution_pdf_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c0c','da109bfb','da109c57');

is the extended institution pdf scanned enabled for transaction ids in ('da109c12','da109c5d','da109c57','da109c0c');
select t1.extended_institution_pdf_scanned_enabled from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c12','da109c5d','da109c57','da109c0c');

what is the fip sahamati name of transaction ids in ('da109c5d','da109c57','da109bfb');
select t1.fip_sahamati_name from institution_list t1 join transaction t2 on t1.id=t2.institution_id where txn_id in ('da109c5d','da109c57','da109bfb');

what is the customer id for txn_id da109bf3;
select t1.customer_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the client txn id of txn_id da109bf3; 
select t1.client_transaction_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the client transaction id of txn_id da109bf3; 
select t1.client_transaction_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

txn id where txn_id da109bf3;
select t1.digitap_txn_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

transaction id where txn_id da109bf3;
select t1.digitap_txn_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

perfios status for txn_id da109bf3;
select t1.perfios_status from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

respective file name of txn_id da109bf3;
select t1.resp_file_name from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the report file name for txn_id da109bf3
select t1.report_file_name from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

kb status for txn_id da109bf3
select t1.kb_status from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

product type of txn_id da109bf3
select t1.product_type from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the request date of txn_id da109bf3
select t1.request_date from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the type where txn_id da109bf3
select t1.type from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

is the id txn_id da109bf3 reparsed.
select t1.reparse from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

for txn_id da109bf3 who is the vendor
select t1.vendor from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

when was txn_id da109bf3 updated
select t1.updatedon from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

for txn_id da109bf3 did we find multiple accounts
select t1.multiple_accounts_found from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the category config for txn_id da109bf3
select t1.category_config from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what all configs related to category have been set for txn_id da109bf3
select t1.category_config from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the upi logic version for txn_id da109bf3
select t1.upi_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the upi version for txn_id da109bf3
select t1.upi_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the categ_code_version for txn_id da109bf3
select t1.catg_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

which version of category ran for txn_id da109bf3
select t1.catg_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the derived variable version for txn_id da109bf3
select t1.derv_var_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the derived variable code version for txn_id da109bf3
select t1.derv_var_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the customer id for transaction ids in ('da109c5d','da109c12');
select t1.customer_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12');

what is the client txn id of transaction ids in ('da109c5d','da109c12'); 
select t1.client_transaction_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12');

what is the client transaction id of transaction ids in ('da109c5d','da109c0c'); 
select t1.client_transaction_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c0c');

txn id where transaction ids in ('da109c12');
select t1.digitap_txn_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12');

transaction id where transaction ids in ('da109bfb','da109c5d','da109c0c');
select t1.digitap_txn_id from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d','da109c0c');

perfios status for transaction ids in ('da109c5d','da109c57','da109c12');
select t1.perfios_status from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c57','da109c12');

respective file name of transaction ids in ('da109c12','da109c5d','da109c0c','da109c57','da109bfb');
select t1.resp_file_name from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c5d','da109c0c','da109c57','da109bfb');

what is the report file name for transaction ids in ('da109c12','da109bfb')
select t1.report_file_name from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb');

kb status for transaction ids in ('da109c12','da109bfb','da109c57','da109c5d')
select t1.kb_status from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb','da109c57','da109c5d');

product type of transaction ids in ('da109c12','da109c0c')
select t1.product_type from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c0c');

what is the request date of transaction ids in ('da109c5d','da109c12','da109bfb','da109c0c')
select t1.request_date from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12','da109bfb','da109c0c');

what is the type where transaction ids in ('da109c5d','da109bfb')
select t1.type from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb');

is the id transaction ids in ('da109bfb','da109c5d','da109c0c','da109c12') reparsed.
select t1.reparse from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d','da109c0c','da109c12');

for transaction ids in ('da109c0c','da109c57','da109c5d') who is the vendor
select t1.vendor from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109c57','da109c5d');

when was transaction ids in ('da109c12') updated
select t1.updatedon from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12');

for transaction ids in ('da109bfb','da109c12','da109c5d','da109c57') did we find multiple accounts
select t1.multiple_accounts_found from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12','da109c5d','da109c57');

what is the category config for transaction ids in ('da109bfb','da109c5d','da109c57','da109c0c','da109c12')
select t1.category_config from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d','da109c57','da109c0c','da109c12');

what all configs related to category have been set for transaction ids in ('da109c5d','da109bfb')
select t1.category_config from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb');

what is the upi logic version for transaction ids in ('da109c5d')
select t1.upi_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d');

what is the upi version for transaction ids in ('da109c12')
select t1.upi_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12');

what is the categ_code_version for transaction ids in ('da109c5d','da109c12','da109bfb')
select t1.catg_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12','da109bfb');

which version of category ran for transaction ids in ('da109c57','da109c0c','da109c12','da109bfb')
select t1.catg_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109c0c','da109c12','da109bfb');

what is the derived variable version for transaction ids in ('da109c12','da109bfb','da109c57')
select t1.derv_var_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb','da109c57');

what is the derived variable code version for transaction ids in ('da109c57')
select t1.derv_var_code_version from digitap_data t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57');

what is the category status for id 68398
select categorization_status from category_status where id=68398;

what is the derived variable status for id 68398
select derived_var_status from category_status where id=68398;

what is the excel derived variable status for id 68398
select excel_derived_var_status from category_status where id=68398;

what is the excel report status for id 68398
select excel_report_status from category_status where id=68398;

what is the pdf report status for id 68398 
select pdf_report_status from category_status where id=68398;

what is the txn id in table category_status for id 68398 
select txn_id from category_status where id=68398;

what is the category report url for id 68398 
select category_report_url from category_status where id=68398;

what is the derived variable report url for id 68398 
select derived_var_report_url from category_status where id=68398;

what is the excel derived variable url for id 68398 
select excel_derived_var_url from category_status where id=68398;

what is the excel report url for id 68398 
select excel_report_url from category_status where id=68398;

what is the pdf report url for id 68398 
select pdf_report_url from category_status where id=68398;

when was the txn started for id 68398 in category_status table
select started_on from category_status where id=68398;

when was category completed for id 68398
select category_updated_on from category_status where id=68398;

what time category completed for id 68398
select category_updated_on from category_status where id=68398;

what time derived variable done for id 68398
select derived_var_updated_on from category_status where id=68398;

when was excel derived variable calculation done for id 68398
select excel_derived_var_updated_on from category_status where id=68398;

time when excel report updated for id 68398
select excel_report_updated_on from category_status where id=68398;

when exactly pdf report updated for id 68398
select pdf_report_updated_on from category_status where id=68398;

when was the last modified date for id 68398
select last_modified_on from category_status where id=68398;

is this primary report for id 68398
select is_primary from category_status where id=68398;

what is the reformat type status for id 68398
select reformat_type_status from category_status where id=68398;

give the reformat type url for id 68398
select reformat_type_url from category_status where id=68398;

when was reformat type updated for id 68398
select reformat_type_updated_on from category_status where id=68398;

what is the status of xml report for id 68398
select xml_report_status from category_status where id=68398;

what is the xml report url for id 68398
select xml_report_url from category_status where id=68398;

when was the xml report updated for id 68398
select xml_report_updated_on from category_status where id=68398;

when was category sqs received for for id 68398
select category_sqs_received_on from category_status where id=68398;

what is the total time taken for category for id 68398
select category_model_time from category_status where id=68398;

bank data parser full model lite status for id 68398
select bank_data_parser_full_mode_lite from category_status where id=68398;

what are all missing keys for type3 for id 68398
select missing_keys_type3 from category_status where id=68398;

what is the validation status of type3 for id 68398 
select validation_status_type3 from category_status where id=68398;

status of type4 validation for id 68398
select validation_status_type4 from category_status where id=68398;

what all type4 report keys missing for id 68398
select missing_keys_type4 from category_status where id=68398;

what is the category status for category status id in ('465356')
select categorization_status from category_status where id in ('465356');

what is the derived variable status for category status id in ('5473642','957456','465356')
select derived_var_status from category_status where id in ('5473642','957456','465356');

what is the excel derived variable status for category status id in ('4674352','24235','465356','957456','5473642')
select excel_derived_var_status from category_status where id in ('4674352','24235','465356','957456','5473642');

what is the excel report status for category status id in ('5473642','4674352','465356')
select excel_report_status from category_status where id in ('5473642','4674352','465356');

what is the pdf report status for category status id in ('4674352','24235','465356','5473642') 
select pdf_report_status from category_status where id in ('4674352','24235','465356','5473642');

what is the txn id in table category_status for category status id in ('957456') 
select txn_id from category_status where id in ('957456');

what is the category report url for category status id in ('24235','465356','957456','4674352') 
select category_report_url from category_status where id in ('24235','465356','957456','4674352');

what is the derived variable report url for category status id in ('957456','5473642','465356') 
select derived_var_report_url from category_status where id in ('957456','5473642','465356');

what is the excel derived variable url for category status id in ('465356','4674352','957456','5473642') 
select excel_derived_var_url from category_status where id in ('465356','4674352','957456','5473642');

what is the excel report url for category status id in ('957456') 
select excel_report_url from category_status where id in ('957456');

what is the pdf report url for category status id in ('4674352') 
select pdf_report_url from category_status where id in ('4674352');

when was the txn started for category status id in ('4674352','957456','5473642') in category_status table
select started_on from category_status where id in ('4674352','957456','5473642');

when was category completed for category status id in ('24235','5473642')
select category_updated_on from category_status where id in ('24235','5473642');

what time category completed for category status id in ('24235','465356','957456')
select category_updated_on from category_status where id in ('24235','465356','957456');

what time derived variable done for category status id in ('465356')
select derived_var_updated_on from category_status where id in ('465356');

when was excel derived variable calculation done for category status id in ('465356','957456','5473642','4674352','24235')
select excel_derived_var_updated_on from category_status where id in ('465356','957456','5473642','4674352','24235');

time when excel report updated for category status id in ('24235','465356','5473642','957456')
select excel_report_updated_on from category_status where id in ('24235','465356','5473642','957456');

when exactly pdf report updated for category status id in ('5473642')
select pdf_report_updated_on from category_status where id in ('5473642');

when was the last modified date for category status id in ('4674352','465356','24235')
select last_modified_on from category_status where id in ('4674352','465356','24235');

is this primary report for category status id in ('4674352','465356')
select is_primary from category_status where id in ('4674352','465356');

what is the reformat type status for category status id in ('4674352')
select reformat_type_status from category_status where id in ('4674352');

give the reformat type url for category status id in ('4674352','24235','957456','465356')
select reformat_type_url from category_status where id in ('4674352','24235','957456','465356');

when was reformat type updated for category status id in ('4674352')
select reformat_type_updated_on from category_status where id in ('4674352');

what is the status of xml report for category status id in ('465356','957456','24235','5473642')
select xml_report_status from category_status where id in ('465356','957456','24235','5473642');

what is the xml report url for category status id in ('5473642','465356','957456','24235')
select xml_report_url from category_status where id in ('5473642','465356','957456','24235');

when was the xml report updated for category status id in ('465356','24235','5473642')
select xml_report_updated_on from category_status where id in ('465356','24235','5473642');

when was category sqs received for for category status id in ('4674352')
select category_sqs_received_on from category_status where id in ('4674352');

what is the total time taken for category for category status id in ('5473642','24235','4674352','957456','465356')
select category_model_time from category_status where id in ('5473642','24235','4674352','957456','465356');

bank data parser full model lite status for category status id in ('24235','465356','4674352','957456')
select bank_data_parser_full_mode_lite from category_status where id in ('24235','465356','4674352','957456');

what are all missing keys for type3 for category status id in ('957456','24235','4674352','465356')
select missing_keys_type3 from category_status where id in ('957456','24235','4674352','465356');

what is the validation status of type3 for category status id in ('957456') 
select validation_status_type3 from category_status where id in ('957456');

status of type4 validation for category status id in ('957456','4674352')
select validation_status_type4 from category_status where id in ('957456','4674352');

what all type4 report keys missing for category status id in ('24235')
select missing_keys_type4 from category_status where id in ('24235');

what is the category status for txn_id da109bf3
select t1.categorization_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the derived variable status for txn_id da109bf3
select t1.derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the excel derived variable status for txn_id da109bf3
select t1.excel_derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the excel report status for txn_id da109bf3
select t1.excel_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the pdf report status for txn_id da109bf3 
select t1.pdf_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the txn id in table category_status for txn_id da109bf3 
select t1.txn_id from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the category report url for txn_id da109bf3 
select t1.category_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the derived variable report url for txn_id da109bf3 
select t1.derived_var_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the excel derived variable url for txn_id da109bf3 
select t1.excel_derived_var_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the excel report url for txn_id da109bf3 
select t1.excel_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the pdf report url for txn_id da109bf3 
select t1.pdf_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was the txn started for txn_id da109bf3 in category_status table
select t1.started_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was category completed for txn_id da109bf3
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what time category completed for txn_id da109bf3
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what time derived variable done for txn_id da109bf3
select t1.derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was excel derived variable calculation done for txn_id da109bf3
select t1.excel_derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

time when excel report updated for txn_id da109bf3
select t1.excel_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when exactly pdf report updated for txn_id da109bf3
select t1.pdf_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was the last modified date for txn_id da109bf3
select t1.last_modified_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

is this primary report for txn_id da109bf3
select t1.is_primary from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the reformat type status for txn_id da109bf3
select t1.reformat_type_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

give the reformat type url for txn_id da109bf3
select t1.reformat_type_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was reformat type updated for txn_id da109bf3
select t1.reformat_type_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the status of xml report for txn_id da109bf3
select t1.xml_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the xml report url for txn_id da109bf3
select t1.xml_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was the xml report updated for txn_id da109bf3
select t1.xml_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

when was category sqs received for for txn_id da109bf3
select t1.category_sqs_received_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the total time taken for category for txn_id da109bf3
select t1.category_model_time from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

bank data parser full model lite status for txn_id da109bf3
select t1.bank_data_parser_full_mode_lite from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what are all missing keys for type3 for txn_id da109bf3
select t1.missing_keys_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the validation status of type3 for txn_id da109bf3 
select t1.validation_status_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

status of type4 validation for txn_id da109bf3
select t1.validation_status_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what all type4 report keys missing for txn_id da109bf3
select t1.missing_keys_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where t1.txn_id='da109bf3';

what is the category status for transaction ids in ('da109c57','da109c12','da109c5d','da109c0c')
select t1.categorization_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c57','da109c12','da109c5d','da109c0c');

what is the derived variable status for transaction ids in ('da109c12')
select t1.derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c12');

what is the excel derived variable status for transaction ids in ('da109bfb')
select t1.excel_derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb');

what is the excel report status for transaction ids in ('da109c0c','da109c5d','da109c57','da109c12','da109bfb')
select t1.excel_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c0c','da109c5d','da109c57','da109c12','da109bfb');

what is the pdf report status for transaction ids in ('da109bfb') 
select t1.pdf_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb');

what is the txn id in table category_status for transaction ids in ('da109c57','da109c0c','da109bfb') 
select t1.txn_id from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c57','da109c0c','da109bfb');

what is the category report url for transaction ids in ('da109c0c') 
select t1.category_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c0c');

what is the derived variable report url for transaction ids in ('da109bfb','da109c12') 
select t1.derived_var_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12');

what is the excel derived variable url for transaction ids in ('da109c5d','da109bfb','da109c0c') 
select t1.excel_derived_var_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb','da109c0c');

what is the excel report url for transaction ids in ('da109bfb','da109c57','da109c0c') 
select t1.excel_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c57','da109c0c');

what is the pdf report url for transaction ids in ('da109bfb','da109c0c','da109c57','da109c5d') 
select t1.pdf_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c0c','da109c57','da109c5d');

when was the txn started for transaction ids in ('da109c5d','da109bfb','da109c0c') in category_status table
select t1.started_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb','da109c0c');

when was category completed for transaction ids in ('da109c0c')
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c0c');

what time category completed for transaction ids in ('da109bfb','da109c12','da109c0c')
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12','da109c0c');

what time derived variable done for transaction ids in ('da109c5d')
select t1.derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d');

when was excel derived variable calculation done for transaction ids in ('da109c5d','da109c12','da109c0c','da109bfb','da109c57')
select t1.excel_derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12','da109c0c','da109bfb','da109c57');

time when excel report updated for transaction ids in ('da109c5d')
select t1.excel_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d');

when exactly pdf report updated for transaction ids in ('da109bfb','da109c12','da109c0c','da109c57')
select t1.pdf_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12','da109c0c','da109c57');

when was the last modified date for transaction ids in ('da109c5d')
select t1.last_modified_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d');

is this primary report for transaction ids in ('da109c5d','da109bfb')
select t1.is_primary from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb');

what is the reformat type status for transaction ids in ('da109c57','da109c5d','da109bfb','da109c12')
select t1.reformat_type_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c57','da109c5d','da109bfb','da109c12');

give the reformat type url for transaction ids in ('da109bfb','da109c0c','da109c12','da109c5d')
select t1.reformat_type_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c0c','da109c12','da109c5d');

when was reformat type updated for transaction ids in ('da109c12','da109bfb','da109c57','da109c5d','da109c0c')
select t1.reformat_type_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb','da109c57','da109c5d','da109c0c');

what is the status of xml report for transaction ids in ('da109c5d','da109bfb','da109c0c','da109c57','da109c12')
select t1.xml_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109bfb','da109c0c','da109c57','da109c12');

what is the xml report url for transaction ids in ('da109c12','da109c0c','da109c57','da109bfb','da109c5d')
select t1.xml_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c12','da109c0c','da109c57','da109bfb','da109c5d');

when was the xml report updated for transaction ids in ('da109bfb','da109c57','da109c0c','da109c5d')
select t1.xml_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c57','da109c0c','da109c5d');

when was category sqs received for for transaction ids in ('da109c5d')
select t1.category_sqs_received_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d');

what is the total time taken for category for transaction ids in ('da109c5d','da109c57')
select t1.category_model_time from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109c57');

bank data parser full model lite status for transaction ids in ('da109bfb','da109c12','da109c0c')
select t1.bank_data_parser_full_mode_lite from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12','da109c0c');

what are all missing keys for type3 for transaction ids in ('da109bfb')
select t1.missing_keys_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109bfb');

what is the validation status of type3 for transaction ids in ('da109c0c','da109c57','da109bfb','da109c12') 
select t1.validation_status_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c0c','da109c57','da109bfb','da109c12');

status of type4 validation for transaction ids in ('da109c0c')
select t1.validation_status_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c0c');

what all type4 report keys missing for transaction ids in ('da109c5d','da109c0c','da109c57','da109c12','da109bfb')
select t1.missing_keys_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id where txn_id in ('da109c5d','da109c0c','da109c57','da109c12','da109bfb');

what is the category status for digitap_data_id 52659
select t1.categorization_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the derived variable status for digitap_data_id 52659
select t1.derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the excel derived variable status for digitap_data_id 52659
select t1.excel_derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the excel report status for digitap_data_id 52659
select t1.excel_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the pdf report status for digitap_data_id 52659 
select t1.pdf_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the txn id in table category_status for digitap_data_id 52659 
select t1.txn_id from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the category report url for digitap_data_id 52659 
select t1.category_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the derived variable report url for digitap_data_id 52659 
select t1.derived_var_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the excel derived variable url for digitap_data_id 52659 
select t1.excel_derived_var_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the excel report url for digitap_data_id 52659 
select t1.excel_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the pdf report url for digitap_data_id 52659 
select t1.pdf_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was the txn started for digitap_data_id 52659 in category_status table
select t1.started_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was category completed for digitap_data_id 52659
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what time category completed for digitap_data_id 52659
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what time derived variable done for digitap_data_id 52659
select t1.derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was excel derived variable calculation done for digitap_data_id 52659
select t1.excel_derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

time when excel report updated for digitap_data_id 52659
select t1.excel_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when exactly pdf report updated for digitap_data_id 52659
select t1.pdf_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was the last modified date for digitap_data_id 52659
select t1.last_modified_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

is this primary report for digitap_data_id 52659
select t1.is_primary from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the reformat type status for digitap_data_id 52659
select t1.reformat_type_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

give the reformat type url for digitap_data_id 52659
select t1.reformat_type_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was reformat type updated for digitap_data_id 52659
select t1.reformat_type_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the status of xml report for digitap_data_id 52659
select t1.xml_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the xml report url for digitap_data_id 52659
select t1.xml_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was the xml report updated for digitap_data_id 52659
select t1.xml_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

when was category sqs received for for digitap_data_id 52659
select t1.category_sqs_received_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the total time taken for category for digitap_data_id 52659
select t1.category_model_time from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

bank data parser full model lite status for digitap_data_id 52659
select t1.bank_data_parser_full_mode_lite from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what are all missing keys for type3 for digitap_data_id 52659
select t1.missing_keys_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the validation status of type3 for digitap_data_id 52659 
select t1.validation_status_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

status of type4 validation for digitap_data_id 52659
select t1.validation_status_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what all type4 report keys missing for digitap_data_id 52659
select t1.missing_keys_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where t3.digitap_data_id='52659';

what is the category status for digitap data ids in ('52822','52673','52669','52806')
select t1.categorization_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822','52673','52669','52806');

what is the derived variable status for digitap data ids in ('52822','52806','52669','52673')
select t1.derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822','52806','52669','52673');

what is the excel derived variable status for digitap data ids in ('52806')
select t1.excel_derived_var_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52806');

what is the excel report status for digitap data ids in ('52673','52806')
select t1.excel_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52806');

what is the pdf report status for digitap data ids in ('52663','52806') 
select t1.pdf_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52663','52806');

what is the txn id in table category_status for digitap data ids in ('52806','52822') 
select t1.txn_id from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52806','52822');

what is the category report url for digitap data ids in ('52669') 
select t1.category_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669');

what is the derived variable report url for digitap data ids in ('52669','52806','52822','52673','52663') 
select t1.derived_var_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52806','52822','52673','52663');

what is the excel derived variable url for digitap data ids in ('52822') 
select t1.excel_derived_var_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822');

what is the excel report url for digitap data ids in ('52822') 
select t1.excel_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822');

what is the pdf report url for digitap data ids in ('52673','52663','52822','52806','52669') 
select t1.pdf_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52663','52822','52806','52669');

when was the txn started for digitap data ids in ('52669','52822','52663','52673') in category_status table
select t1.started_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52822','52663','52673');

when was category completed for digitap data ids in ('52669','52663','52822','52673','52806')
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52663','52822','52673','52806');

what time category completed for digitap data ids in ('52663')
select t1.category_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52663');

what time derived variable done for digitap data ids in ('52663')
select t1.derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52663');

when was excel derived variable calculation done for digitap data ids in ('52822','52663','52806','52673')
select t1.excel_derived_var_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822','52663','52806','52673');

time when excel report updated for digitap data ids in ('52669','52822','52806','52673')
select t1.excel_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52822','52806','52673');

when exactly pdf report updated for digitap data ids in ('52663')
select t1.pdf_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52663');

when was the last modified date for digitap data ids in ('52822','52673','52663','52669')
select t1.last_modified_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822','52673','52663','52669');

is this primary report for digitap data ids in ('52673','52669','52822','52663','52806')
select t1.is_primary from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52669','52822','52663','52806');

what is the reformat type status for digitap data ids in ('52673','52822','52806','52669')
select t1.reformat_type_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52822','52806','52669');

give the reformat type url for digitap data ids in ('52669','52673','52806','52822')
select t1.reformat_type_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52673','52806','52822');

when was reformat type updated for digitap data ids in ('52669','52822')
select t1.reformat_type_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52822');

what is the status of xml report for digitap data ids in ('52806')
select t1.xml_report_status from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52806');

what is the xml report url for digitap data ids in ('52669','52673')
select t1.xml_report_url from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52673');

when was the xml report updated for digitap data ids in ('52673','52822','52806')
select t1.xml_report_updated_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52822','52806');

when was category sqs received for for digitap data ids in ('52673')
select t1.category_sqs_received_on from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673');

what is the total time taken for category for digitap data ids in ('52673','52663','52822','52806','52669')
select t1.category_model_time from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52663','52822','52806','52669');

bank data parser full model lite status for digitap data ids in ('52822','52669','52663')
select t1.bank_data_parser_full_mode_lite from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52822','52669','52663');

what are all missing keys for type3 for digitap data ids in ('52669','52663','52806','52822')
select t1.missing_keys_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52669','52663','52806','52822');

what is the validation status of type3 for digitap data ids in ('52673','52806','52669','52822','52663') 
select t1.validation_status_type3 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673','52806','52669','52822','52663');

status of type4 validation for digitap data ids in ('52673')
select t1.validation_status_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52673');

what all type4 report keys missing for digitap data ids in ('52663','52673')
select t1.missing_keys_type4 from category_status t1 join transaction t2 on t1.txn_id=t2.txn_id  join digitap_data t3 on t2.txn_id=t3.digitap_txn_id  where digitap_data_id in ('52663','52673');

what is the digitap data id for digitap accounts info id 75514
select digitap_data_id from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the digitap customer account id for digitap accounts info id 75514
select digitap_customer_account_info_id from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the digitap customer account info id for digitap accounts id 75514
select digitap_customer_account_info_id from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the transaction id for digitap accounts id 75514
select digitap_txn_id from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the inst id for digitap accounts id 75514
select inst_id from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the account type for digitap accounts id 75514
select account_type from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the account number for digitap accounts id 75514
select account_no from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the users bank for digitap accounts id 75514
select bank from digitap_accounts_info where digitap_accounts_info_id=75514;

remaining balance of the user for digitap accounts id 75514
select balance from digitap_accounts_info where digitap_accounts_info_id=75514;

what is users ifsc code for digitap accounts id 75514
select ifsc_code from digitap_accounts_info where digitap_accounts_info_id=75514;

what is users micr code for digitap accounts id 75514
select micr_code from digitap_accounts_info where digitap_accounts_info_id=75514;

what is users location for digitap accounts id 75514
select location from digitap_accounts_info where digitap_accounts_info_id=75514;

is the user deleted from db for digitap accounts id 75514
select is_deleted from digitap_accounts_info where digitap_accounts_info_id=75514;

account description for digitap accounts id 75514
select account_description from digitap_accounts_info where digitap_accounts_info_id=75514;

account status of the user for digitap accounts id 75514
select account_status from digitap_accounts_info where digitap_accounts_info_id=75514;

account opening date for digitap accounts id 75514
select opening_date from digitap_accounts_info where digitap_accounts_info_id=75514;

what is the digitap data id for digitap accounts info ids in ('465356','24235')
select digitap_data_id from digitap_accounts_info where digitap_accounts_info_id in ('465356','24235');

what is the digitap customer account id for digitap accounts info ids in ('957456')
select digitap_customer_account_info_id from digitap_accounts_info where digitap_accounts_info_id in ('957456');

what is the digitap customer account info id for digitap accounts info ids in ('5473642','957456','4674352')
select digitap_customer_account_info_id from digitap_accounts_info where digitap_accounts_info_id in ('5473642','957456','4674352');

what is the transaction id for digitap accounts info ids in ('4674352','24235','465356')
select digitap_txn_id from digitap_accounts_info where digitap_accounts_info_id in ('4674352','24235','465356');

what is the inst id for digitap accounts info ids in ('4674352','957456','24235')
select inst_id from digitap_accounts_info where digitap_accounts_info_id in ('4674352','957456','24235');

what is the account type for digitap accounts info ids in ('957456','465356','24235')
select account_type from digitap_accounts_info where digitap_accounts_info_id in ('957456','465356','24235');

what is the account number for digitap accounts info ids in ('24235','4674352')
select account_no from digitap_accounts_info where digitap_accounts_info_id in ('24235','4674352');

what is the users bank for digitap accounts info ids in ('465356')
select bank from digitap_accounts_info where digitap_accounts_info_id in ('465356');

remaining balance of the user for digitap accounts info ids in ('465356','5473642','24235','957456')
select balance from digitap_accounts_info where digitap_accounts_info_id in ('465356','5473642','24235','957456');

what is users ifsc code for digitap accounts info ids in ('4674352','5473642','957456','465356','24235')
select ifsc_code from digitap_accounts_info where digitap_accounts_info_id in ('4674352','5473642','957456','465356','24235');

what is users micr code for digitap accounts info ids in ('5473642','4674352','465356','24235','957456')
select micr_code from digitap_accounts_info where digitap_accounts_info_id in ('5473642','4674352','465356','24235','957456');

what is users location for digitap accounts info ids in ('24235','4674352','957456')
select location from digitap_accounts_info where digitap_accounts_info_id in ('24235','4674352','957456');

is the user deleted from db for digitap accounts info ids in ('5473642','957456','465356','24235')
select is_deleted from digitap_accounts_info where digitap_accounts_info_id in ('5473642','957456','465356','24235');

account description for digitap accounts info ids in ('24235','5473642','465356','957456','4674352')
select account_description from digitap_accounts_info where digitap_accounts_info_id in ('24235','5473642','465356','957456','4674352');

account status of the user for digitap accounts info ids in ('24235')
select account_status from digitap_accounts_info where digitap_accounts_info_id in ('24235');

account opening date for digitap accounts info ids in ('465356','4674352','24235','957456','5473642')
select opening_date from digitap_accounts_info where digitap_accounts_info_id in ('465356','4674352','24235','957456','5473642');

what is the digitap data id for txn_id da109bf3
select t1.digitap_data_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the digitap customer account id for txn_id da109bf3
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the digitap customer account info id for txn_id da109bf3
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the transaction id for txn_id da109bf3
select t1.digitap_txn_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the inst id for  txn_id da109bf3
select t1.inst_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the account type for  txn_id da109bf3
select t1.account_type from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the account number for txn_id da109bf3
select t1.account_no from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the users bank for txn_id da109bf3
select t1.bank from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

remaining balance of the user for  txn_id da109bf3
select t1.balance from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is users ifsc code for  txn_id da109bf3
select t1.ifsc_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is users micr code for txn_id da109bf3
select t1.micr_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is users location for txn_id da109bf3
select t1.location from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

is the user deleted from db for  txn_id da109bf3
select t1.is_deleted from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

account description for  txn_id da109bf3
select t1.account_description from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

account status of the user for txn_id da109bf3
select t1.account_status from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

account opening date for txn_id da109bf3
select t1.opening_date from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the digitap data id for transaction ids in ('da109c5d','da109c57','da109bfb','da109c0c')
select t1.digitap_data_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c57','da109bfb','da109c0c');

what is the digitap customer account id for transaction ids in ('da109c57','da109bfb')
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109bfb');

what is the digitap customer account info id for transaction ids in ('da109c0c','da109c57','da109c12')
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109c57','da109c12');

what is the transaction id for transaction ids in ('da109c5d','da109c0c','da109bfb')
select t1.digitap_txn_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c0c','da109bfb');

what is the inst id for  transaction ids in ('da109bfb','da109c12','da109c0c','da109c5d','da109c57')
select t1.inst_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12','da109c0c','da109c5d','da109c57');

what is the account type for  transaction ids in ('da109c12','da109c0c')
select t1.account_type from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c0c');

what is the account number for transaction ids in ('da109c12','da109c5d','da109bfb','da109c0c')
select t1.account_no from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c5d','da109bfb','da109c0c');

what is the users bank for transaction ids in ('da109c57','da109bfb','da109c0c','da109c5d')
select t1.bank from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109bfb','da109c0c','da109c5d');

remaining balance of the user for  transaction ids in ('da109bfb','da109c57','da109c0c')
select t1.balance from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c57','da109c0c');

what is users ifsc code for  transaction ids in ('da109c12','da109bfb','da109c5d')
select t1.ifsc_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb','da109c5d');

what is users micr code for transaction ids in ('da109c57','da109c12','da109c5d','da109bfb')
select t1.micr_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109c12','da109c5d','da109bfb');

what is users location for transaction ids in ('da109c5d','da109c12','da109c57','da109bfb','da109c0c')
select t1.location from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12','da109c57','da109bfb','da109c0c');

is the user deleted from db for  transaction ids in ('da109bfb','da109c5d')
select t1.is_deleted from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d');

account description for  transaction ids in ('da109c0c','da109c12','da109c5d','da109bfb')
select t1.account_description from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109c12','da109c5d','da109bfb');

account status of the user for transaction ids in ('da109bfb','da109c0c')
select t1.account_status from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c0c');

account opening date for transaction ids in ('da109c0c')
select t1.opening_date from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c');

what is the digitap data id for digitap_data_id 52659
select t1.digitap_data_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the digitap customer account id for digitap_data_id 52659
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the digitap customer account info id for digitap_data_id 52659
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the transaction id for digitap_data_id 52659
select t1.digitap_txn_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the inst id for digitap_data_id 52659
select t1.inst_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the account type for digitap_data_id 52659
select t1.account_type from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the account number for digitap_data_id 52659
select t1.account_no from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the users bank for  digitap_data_id 52659
select t1.bank from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

remaining balance of the user for digitap_data_id 52659
select t1.balance from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is users ifsc code for  digitap_data_id 52659
select t1.ifsc_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is users micr code for digitap_data_id 52659
select t1.micr_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is users location for digitap_data_id 52659
select t1.location from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

is the user deleted from db for digitap_data_id 52659
select t1.is_deleted from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

account description for digitap_data_id 52659
select t1.account_description from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

account status of the user for digitap_data_id 52659
select t1.account_status from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

account opening date for digitap_data_id 52659
select t1.opening_date from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id=52659;

what is the digitap data id for digitap data ids in ('52663')
select t1.digitap_data_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663');

what is the digitap customer account id for digitap data ids in ('52822','52669','52806','52663')
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822','52669','52806','52663');

what is the digitap customer account info id for digitap data ids in ('52669','52673','52663','52806','52822')
select t1.digitap_customer_account_info_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669','52673','52663','52806','52822');

what is the transaction id for digitap data ids in ('52663','52669','52806','52822')
select t1.digitap_txn_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52669','52806','52822');

what is the inst id for digitap data ids in ('52663','52806','52673')
select t1.inst_id from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52806','52673');

what is the account type for digitap data ids in ('52806','52663','52669','52673')
select t1.account_type from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52663','52669','52673');

what is the account number for digitap data ids in ('52806','52822','52673','52669')
select t1.account_no from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52822','52673','52669');

what is the users bank for  digitap data ids in ('52673','52669','52806','52663')
select t1.bank from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52673','52669','52806','52663');

remaining balance of the user for digitap data ids in ('52822')
select t1.balance from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822');

what is users ifsc code for  digitap data ids in ('52673','52669','52822')
select t1.ifsc_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52673','52669','52822');

what is users micr code for digitap data ids in ('52669','52822','52806')
select t1.micr_code from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669','52822','52806');

what is users location for digitap data ids in ('52806','52669','52822')
select t1.location from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52669','52822');

is the user deleted from db for digitap data ids in ('52822')
select t1.is_deleted from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822');

account description for digitap data ids in ('52663','52673','52669')
select t1.account_description from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52673','52669');

account status of the user for digitap data ids in ('52673','52822')
select t1.account_status from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52673','52822');

account opening date for digitap data ids in ('52669')
select t1.opening_date from digitap_accounts_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669');

what is the digitap_data id for digitap_customer_account_info_id 75514
select digitap_data_id from digitap_customer_account_info where digitap_customer_account_info_id=75514;

transaction id for digitap customer accounts info id75514
select digitap_txn_id from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the account start date for digitap_customer_account_info_id 75514
select start_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the start date for digitap_customer_account_info_id 75514
select start_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the account end date for digitap_customer_account_info_id 75514
select end_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the end date for digitap customer accounts info id 75514
select end_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

name of user having digitap customer accounts info id 75514
select name from digitap_customer_account_info where digitap_customer_account_info_id=75514;

name of user having digitap customer accounts info id 75514
select name from digitap_customer_account_info where digitap_customer_account_info_id=75514;

users mobile number for digitap customer accounts info id 75514
select mobile from digitap_customer_account_info where digitap_customer_account_info_id=75514;

landline number of the user for digitap customer accounts info id 75514
select landline from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the address of the user for digitap customer accounts info id 75514
select address from digitap_customer_account_info where digitap_customer_account_info_id=75514;

users total months of data present for digitap customer accounts info id 75514
select duration_in_months from digitap_customer_account_info where digitap_customer_account_info_id=75514;

how the user has uploaded the data for digitap customer accounts info id 75514
select source_of_data from digitap_customer_account_info where digitap_customer_account_info_id=75514;

source of users data for digitap customer accounts info id 75514
select source_of_data from digitap_customer_account_info where digitap_customer_account_info_id=75514;

email of the user having digitap customer accounts info id 75514
select email from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the pan number of the user having digitap customer accounts info id 75514
select pan from digitap_customer_account_info where digitap_customer_account_info_id=75514;

is the user deleted for digitap customer accounts info id 75514
select is_deleted from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the statement start date for digitap customer accounts info id75514
select statement_start_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the statement end date for digitap customer accounts info id 75514
select statement_end_date from digitap_customer_account_info where digitap_customer_account_info_id=75514;

is the user ckyc complianced for digitap customer accounts info id 75514
select ckyc_compliance from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the dob of the user for digitap customer accounts info id 75514
select dob from digitap_customer_account_info where digitap_customer_account_info_id=75514;

who is the nominee of the user having digitap customer accounts info id75514
select nominee from digitap_customer_account_info where digitap_customer_account_info_id=75514;

when was the report fetched for digitap customer accounts info id 75514
select report_fetch_time from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what type of report fetched for digitap customer accounts info id 75514
select report_fetch_type from digitap_customer_account_info where digitap_customer_account_info_id=75514;

recommended nach date for digitap customer accounts info id75514
select nach_date_recommended from digitap_customer_account_info where digitap_customer_account_info_id=75514;

what is the digitap_data id for digitap_customer_account_info_ids in ('465356')
select digitap_data_id from digitap_customer_account_info where digitap_customer_account_info_id in ('465356');

transaction id for digitap_customer_account_info_ids in ('5473642','957456','465356','24235')
select digitap_txn_id from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642','957456','465356','24235');

what is the account start date for digitap_customer_account_info_ids in ('4674352','5473642')
select start_date from digitap_customer_account_info where digitap_customer_account_info_id in ('4674352','5473642');

what is the start date for digitap_customer_account_info_ids in ('24235','5473642','4674352')
select start_date from digitap_customer_account_info where digitap_customer_account_info_id in ('24235','5473642','4674352');

what is the account end date for digitap_customer_account_info_ids in ('24235')
select end_date from digitap_customer_account_info where digitap_customer_account_info_id in ('24235');

what is the end date for digitap_customer_account_info_ids in ('957456')
select end_date from digitap_customer_account_info where digitap_customer_account_info_id in ('957456');

name of user having digitap_customer_account_info_ids in ('24235','5473642')
select name from digitap_customer_account_info where digitap_customer_account_info_id in ('24235','5473642');

name of user having digitap_customer_account_info_ids in ('957456','465356','24235','5473642','4674352')
select name from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','465356','24235','5473642','4674352');

users mobile number for digitap_customer_account_info_ids in ('465356','957456')
select mobile from digitap_customer_account_info where digitap_customer_account_info_id in ('465356','957456');

landline number of the user for digitap_customer_account_info_ids in ('5473642')
select landline from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642');

what is the address of the user for digitap_customer_account_info_ids in ('465356','4674352','5473642')
select address from digitap_customer_account_info where digitap_customer_account_info_id in ('465356','4674352','5473642');

users total months of data present for digitap_customer_account_info_ids in ('465356','4674352')
select duration_in_months from digitap_customer_account_info where digitap_customer_account_info_id in ('465356','4674352');

how the user has uploaded the data for digitap_customer_account_info_ids in ('24235','465356','5473642','957456')
select source_of_data from digitap_customer_account_info where digitap_customer_account_info_id in ('24235','465356','5473642','957456');

source of users data for digitap_customer_account_info_ids in ('957456','24235','465356','5473642','4674352')
select source_of_data from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','24235','465356','5473642','4674352');

email of the user having digitap_customer_account_info_ids in ('5473642','465356')
select email from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642','465356');

what is the pan number of the user having digitap_customer_account_info_ids in ('5473642','4674352','957456','465356')
select pan from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642','4674352','957456','465356');

is the user deleted for digitap_customer_account_info_ids in ('957456','5473642')
select is_deleted from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','5473642');

what is the statement start date for digitap_customer_account_info_ids in ('4674352','24235','5473642','957456')
select statement_start_date from digitap_customer_account_info where digitap_customer_account_info_id in ('4674352','24235','5473642','957456');

what is the statement end date for digitap_customer_account_info_ids in ('5473642','957456')
select statement_end_date from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642','957456');

is the user ckyc complianced for digitap_customer_account_info_ids in ('957456','465356','24235')
select ckyc_compliance from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','465356','24235');

what is the dob of the user for digitap_customer_account_info_ids in ('5473642','465356','4674352','24235')
select dob from digitap_customer_account_info where digitap_customer_account_info_id in ('5473642','465356','4674352','24235');

who is the nominee of the user having digitap_customer_account_info_ids in ('465356','24235','957456','4674352')
select nominee from digitap_customer_account_info where digitap_customer_account_info_id in ('465356','24235','957456','4674352');

when was the report fetched for digitap_customer_account_info_ids in ('957456','465356','4674352','5473642','24235')
select report_fetch_time from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','465356','4674352','5473642','24235');

what type of report fetched for digitap_customer_account_info_ids in ('957456','4674352','5473642','24235')
select report_fetch_type from digitap_customer_account_info where digitap_customer_account_info_id in ('957456','4674352','5473642','24235');

recommended nach date for digitap_customer_account_info_ids in ('465356','5473642')
select nach_date_recommended from digitap_customer_account_info where digitap_customer_account_info_id in ('465356','5473642');

what is the account start date for txn_id  da109bf3
select t1.start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the account end date for txn_id  da109bf3
select t1.end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

name of user having txn_id  da109bf3
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

name of user having txn_id da109bf3
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

users mobile number for txn_id da109bf3
select t1.mobile from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

landline number of the user for txn_id da109bf3
select t1.landline from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the address of the user for txn_id da109bf3
select t1.address from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

users total months of data present for txn_id da109bf3
select t1.duration_in_months from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

how the user has uploaded the data for txn_id da109bf3
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

source of users data for txn_id da109bf3
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

email of the user having txn_id da109bf3
select t1.email from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the pan number of the user having txn_id da109bf3
select t1.pan from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

is the user deleted for txn_id da109bf3
select t1.is_deleted from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the statement start date for txn_id da109bf3
select t1.statement_start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the statement end date for txn_id da109bf3
select t1.statement_end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

is the user ckyc complianced for txn_id da109bf3
select t1.ckyc_compliance from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the dob of the user for txn_id da109bf3
select t1.dob from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

who is the nominee of the user having txn_id da109bf3
select t1.nominee from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

when was the report fetched for txn_id da109bf3
select t1.report_fetch_time from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what type of report fetched for txn_id da109bf3
select t1.report_fetch_type from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

recommended nach date for txn_id da109bf3
select t1.nach_date_recommended from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where t2.txn_id='da109bf3';

what is the account start date for transaction ids in ('da109c57','da109c0c')
select t1.start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109c0c');

what is the account end date for transaction ids in ('da109bfb','da109c12')
select t1.end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12');

name of user having transaction ids in ('da109c5d')
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d');

name of user having transaction ids in ('da109c0c')
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c');

users mobile number for transaction ids in ('da109c0c')
select t1.mobile from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c');

landline number of the user for transaction ids in ('da109bfb','da109c5d','da109c57','da109c0c')
select t1.landline from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d','da109c57','da109c0c');

what is the address of the user for transaction ids in ('da109c57','da109bfb')
select t1.address from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c57','da109bfb');

users total months of data present for transaction ids in ('da109c12','da109c5d','da109c0c')
select t1.duration_in_months from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c5d','da109c0c');

how the user has uploaded the data for transaction ids in ('da109c5d','da109c0c','da109c12','da109bfb','da109c57')
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c0c','da109c12','da109bfb','da109c57');

source of users data for transaction ids in ('da109c0c','da109c57','da109c5d','da109c12','da109bfb')
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109c57','da109c5d','da109c12','da109bfb');

email of the user having transaction ids in ('da109bfb','da109c12')
select t1.email from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c12');

what is the pan number of the user having transaction ids in ('da109c0c','da109bfb')
select t1.pan from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109bfb');

is the user deleted for transaction ids in ('da109c0c','da109c5d','da109bfb','da109c12')
select t1.is_deleted from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c0c','da109c5d','da109bfb','da109c12');

what is the statement start date for transaction ids in ('da109c5d','da109c12','da109c57')
select t1.statement_start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d','da109c12','da109c57');

what is the statement end date for transaction ids in ('da109c5d')
select t1.statement_end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c5d');

is the user ckyc complianced for transaction ids in ('da109bfb','da109c5d','da109c0c','da109c12','da109c57')
select t1.ckyc_compliance from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c5d','da109c0c','da109c12','da109c57');

what is the dob of the user for transaction ids in ('da109c12','da109c0c','da109c57')
select t1.dob from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c0c','da109c57');

who is the nominee of the user having transaction ids in ('da109bfb')
select t1.nominee from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb');

when was the report fetched for transaction ids in ('da109c12','da109bfb','da109c5d')
select t1.report_fetch_time from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109bfb','da109c5d');

what type of report fetched for transaction ids in ('da109bfb','da109c57','da109c12','da109c0c','da109c5d')
select t1.report_fetch_type from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109bfb','da109c57','da109c12','da109c0c','da109c5d');

recommended nach date for transaction ids in ('da109c12','da109c5d','da109c0c','da109bfb')
select t1.nach_date_recommended from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id where txn_id in ('da109c12','da109c5d','da109c0c','da109bfb');

what is the account start date for digitap_data_id 52659
select t1.start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the account end date for digitap_data_id 52659
select t1.end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

name of user having digitap_data_id 52659
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

name of user having digitap_data_id 52659
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

users mobile number for digitap_data_id 52659
select t1.mobile from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

landline number of the user for digitap_data_id 52659
select t1.landline from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the address of the user for digitap_data_id 52659
select t1.address from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

users total months of data present for digitap_data_id 52659
select t1.duration_in_months from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

how the user has uploaded the data for digitap_data_id 52659
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

source of users data for digitap_data_id 52659
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

email of the user having digitap_data_id 52659
select t1.email from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the pan number of the user having digitap_data_id 52659
select t1.pan from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

is the user deleted for digitap_data_id 52659
select t1.is_deleted from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the statement start date for digitap_data_id 52659
select t1.statement_start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the statement end date for digitap_data_id 52659
select t1.statement_end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

is the user ckyc complianced for digitap_data_id 52659
select t1.ckyc_compliance from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the dob of the user for digitap_data_id 52659
select t1.dob from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

who is the nominee of the user having digitap_data_id 52659
select t1.nominee from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

when was the report fetched for digitap_data_id 52659
select t1.report_fetch_time from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what type of report fetched for digitap_data_id 52659
select t1.report_fetch_type from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

recommended nach date for digitap_data_id 52659
select t1.nach_date_recommended from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where t3.digitap_data_id='52659';

what is the account start date for digitap data ids in ('52669','52673','52663','52822','52806')
select t1.start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669','52673','52663','52822','52806');

what is the account end date for digitap data ids in ('52822','52806','52673','52663')
select t1.end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822','52806','52673','52663');

name of user having digitap data ids in ('52806','52822','52663')
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52822','52663');

name of user having digitap data ids in ('52673','52663','52669','52806')
select t1.name from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52673','52663','52669','52806');

users mobile number for digitap data ids in ('52669','52663','52673','52822','52806')
select t1.mobile from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669','52663','52673','52822','52806');

landline number of the user for digitap data ids in ('52663','52822','52806')
select t1.landline from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52822','52806');

what is the address of the user for digitap data ids in ('52822','52669')
select t1.address from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822','52669');

users total months of data present for digitap data ids in ('52663','52673','52806','52669')
select t1.duration_in_months from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52673','52806','52669');

how the user has uploaded the data for digitap data ids in ('52822','52669','52663','52806')
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822','52669','52663','52806');

source of users data for digitap data ids in ('52806','52669')
select t1.source_of_data from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52669');

email of the user having digitap data ids in ('52663','52673','52822')
select t1.email from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52673','52822');

what is the pan number of the user having digitap data ids in ('52669')
select t1.pan from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669');

is the user deleted for digitap data ids in ('52806')
select t1.is_deleted from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806');

what is the statement start date for digitap data ids in ('52822','52673','52663','52669','52806')
select t1.statement_start_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52822','52673','52663','52669','52806');

what is the statement end date for digitap data ids in ('52806','52663')
select t1.statement_end_date from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52663');

is the user ckyc complianced for digitap data ids in ('52663')
select t1.ckyc_compliance from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663');

what is the dob of the user for digitap data ids in ('52806','52822','52673')
select t1.dob from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52822','52673');

who is the nominee of the user having digitap data ids in ('52663','52806','52669','52822','52673')
select t1.nominee from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52806','52669','52822','52673');

when was the report fetched for digitap data ids in ('52663','52822','52669','52806','52673')
select t1.report_fetch_time from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52663','52822','52669','52806','52673');

what type of report fetched for digitap data ids in ('52669','52663','52673','52822')
select t1.report_fetch_type from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52669','52663','52673','52822');

recommended nach date for digitap data ids in ('52806','52663','52673')
select t1.nach_date_recommended from digitap_customer_account_info t1 join transaction t2 on t1.digitap_txn_id=t2.txn_id join digitap_data t3 on t2.txn_id=t3.digitap_txn_id where digitap_data_id in ('52806','52663','52673');"""

In [43]:
df = pd.read_excel("/home/rampanda/Documents/DG Assist/sql_data_preparation/queries file.xlsx", sheet_name='schema')
df1 = df.groupby('TABLE_NAME').agg({'COLUMN_NAME': list, 'DATA_TYPE': list}).reset_index()
df1['create_statement'] = df1[['TABLE_NAME', 'COLUMN_NAME', 'DATA_TYPE']].apply(lambda x: "create table " + x[0] + " (" + ", ".join([i[0] + " " + i[1] for i in list(zip(x[1], x[2]))]) + ");", axis=1)
map_dct = {i:j for i, j in df1[['TABLE_NAME', 'create_statement']].values.tolist()}

In [56]:
questions = []
answers = []
for i in s.split("\n"):
    if i.strip().lower().startswith("select"):
        answers.append(i)
    elif i.strip()!='':
        questions.append(i)

contexts = []
for q in answers:
    c = ""
    main_table = re.findall(r"(?:from )(\w+)", q, flags=re.I)
    other_tables = re.findall(r"(?:join )(\w+)", q, flags=re.I)
    if not main_table:
        print(q)
        raise ValueError()
    c += map_dct[main_table[0]]
    for t in other_tables:
        c += " " + map_dct[t]
    contexts.append(c)

assert len(questions)==len(answers)==len(contexts)

fin_df = pd.DataFrame({'question': questions, 'answer': answers, 'context': contexts})
fin_df.to_excel("/home/rampanda/Documents/just_test.xlsx", index=False)

In [67]:
s1 = """6005178547
6005178547
6203294800
6203294800
6203979480
6203979480
6206964585
6206964585
6263669176
6263669176
6263669176
6282972113
6282972113
6282972113
6289287271
6289287271
6289287271
6289287271
6289287271
6289287271
6289287271
6289287271
6296355430
6296355430
6303871378
6303871378
6303871378
6303871378
6350625297
6350625297
6350625297
6356093023
6356093023
6356093023
6380266343
6380266343
6388655991
6388655991
6388655991
6388655991
6388655991
6388655991
6388655991
6388865250
6388865250
6388865250
6388865250
6388865250
6388865250
6389707440
6389707440
6389707440
6393719685
7007402348
7007402348
7007402348
7007402348
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7010826548
7014948892
7014948892
7022643171
7022643171
7022643171
7022643171
7022643171
7022643171
7022643171
7022643171
7022913887
7022913887
7022913887
7022913887
7022913887
7022913887
7022913887
7022913887
7022913887
7022913887
7030978088
7039749211
7039749211
7039749211
7039749211
7057466687
7057466687
7057466687
7057466687
7089274870
7089274870
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7276172458
7285880977
7303223243
7303223243
7303223243
7303223243
7303223243
7304106883
7304106883
7307390799
7307390799
7307390799
7307390799
7307390799
7340514471
7340514471
7340514471
7415821025
7415821025
7415821025
7415821025
7415821025
7415821025
7428494958
7428494958
7428920976
7428920976
7460982454
7460982454
7507668789
7507668789
7507668789
7507668789
7507668789
7507668789
7507668789
7524054443
7524054443
7654422247
7654422247
7654422247
7654422247
7654422247
7667740393
7667740393
7667740393
7683904160
7683904160
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7738423194
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739069822
7739692157
7739692157
7739692157
7760450545
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7763930928
7800673238
7800673238
7800673238
7800673238
7800673238
7818906214
7818906214
7818906214
7818906214
7818906214
7818906214
7818906214
7818906214
7818906214
7818906214
7854812661
7854812661
7854812661
7887863018
7887863018
7887863018
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7901948843
7977842038
7977842038
7980561195
7980561195
7980561195
7980561195
7980561195
7980561195
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
7992270510
8090434816
8090434816
8090434816
8090434816
8102900804
8102900804
8102900804
8102900804
8102900804
8102900804
8102900804
8103966682
8103966682
8107219081
8107219081
8107219081
8107219081
8107219081
8107219081
8107219081
8107219081
8107219081
8107219081
8120907708
8120907708
8120907708
8120907708
8120907708
8120907708
8123680770
8123680770
8123680770
8123680770
8123680770
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8141427749
8268119218
8268119218
8268119218
8268119218
8268119218
8268119218
8268119218
8268119218
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8275752448
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8295269119
8309113494
8309113494
8309113494
8309113494
8309113494
8374025425
8374025425
8374025425
8374025425
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8378919701
8383083941
8383083941
8383083941
8383083941
8383083941
8383083941
8401852602
8401852602
8401852602
8401852602
8401852602
8401852602
8401852602
8401852602
8401852602
8401852602
8409945029
8409945029
8409945029
8409945029
8409945029
8409945029
8409945029
8436416630
8436416630
8436416630
8436416630
8436416630
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8441914999
8502883110
8502883110
8511551575
8511551575
8511551575
8516000143
8516000143
8516000143
8516000143
8516000143
8527688527
8527688527
8527688527
8527688527
8527688527
8527688527
8527688527
8652781622
8652781622
8652781622
8652781622
8652781622
8668754206
8668754206
8720870150
8720870150
8720870150
8720870150
8720870150
8720870150
8720870150
8720870150
8720870150
8720870150
8742907866
8742907866
8742907866
8742907866
8742907866
8742907866
8742907866
8754075406
8754075406
8754075406
8766252441
8766252441
8766252441
8766252441
8801451940
8801451940
8801451940
8801451940
8827666607
8827666607
8827666607
8827666607
8827666607
8828018530
8828018530
8828018530
8899954136
8899954136
8917546384
8920311896
8920311896
8922823271
8940507161
8940507161
8940507161
8940507161
8978853624
8978853624
8978853624
9004717661
9004717661
9004717661
9004717661
9004717661
9004717661
9004717661
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022111188
9022838365
9022838365
9022838365
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033263926
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9033520127
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9043403596
9109298106
9109298106
9109298106
9109298106
9109298106
9109298106
9131103018
9131103018
9133202000
9133202000
9133202000
9133202000
9133202000
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9149493684
9252425211
9252425211
9252425211
9252425211
9303250696
9303250696
9303250696
9303250696
9303250696
9303250696
9303250696
9303250696
9307719226
9309182841
9309182841
9309182841
9309182841
9309182841
9340586105
9340586105
9343082923
9343082923
9343082923
9344534884
9344534884
9344534884
9350918048
9350918048
9350918048
9350918048
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9353144742
9391246170
9391246170
9392047925
9405670376
9405670376
9405670376
9409293374
9409293374
9409293374
9421727441
9421727441
9421727441
9421727441
9421727441
9444426423
9497760175
9497760175
9497760175
9497760175
9497760175
9498894583
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9506246683
9510356413
9510356413
9510356413
9510356413
9510356413
9518748537
9518748537
9518748537
9518748537
9518748537
9518748537
9518748537
9536536341
9542358828
9542358828
9548831914
9548831914
9548831914
9548831914
9557760624
9557760624
9557760624
9557760624
9559930030
9559930030
9559930030
9559930030
9559930030
9559930030
9566552319
9566552319
9566552319
9566552319
9566552319
9588474193
9588474193
9589644426
9589644426
9593757085
9593757085
9593757085
9593757085
9593757085
9602632392
9602632392
9602632392
9602632392
9608999457
9608999457
9608999457
9608999457
9617743476
9630618718
9630618718
9637166064
9637166064
9637166064
9637166064
9641483761
9641483761
9641483761
9652352486
9652352486
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9657808680
9664591977
9664591977
9685562131
9685562131
9685562131
9685562131
9702342906
9702342906
9702342906
9702342906
9702342906
9702342906
9708085313
9708085313
9708085313
9720768542
9720768542
9720768542
9720768542
9720768542
9740012330
9740012330
9753682448
9753682448
9754732210
9754732210
9754732210
9766043875
9766043875
9766043875
9766043875
9767383626
9767383626
9767383626
9767383626
9767383626
9769365368
9769365368
9769365368
9769365368
9769365368
9769365368
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9790363738
9795162323
9795162323
9795162323
9795162323
9811661001
9811661001
9811661001
9811661001
9811661001
9811661001
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9821690474
9822990884
9822990884
9822990884
9822990884
9822990884
9822990884
9822990884
9824767162
9824767162
9824767162
9824767162
9824767162
9824767162
9874754664
9874754664
9874754664
9874754664
9874754664
9874754664
9874754664
9874754664
9881080662
9881080662
9881080662
9881080662
9881080662
9881080662
9888756841
9888756841
9895701346
9895701346
9895701346
9895701346
9895701346
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9896000192
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9911040559
9926285759
9951881924
9951881924
9951881924
9951881924
9951881924
9951881924
9952163630
9952218443
9953706919
9953706919
9953706919
9971702373
9971702373
9971702373
9971702373
9971702373
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9977631630
9993311329
9993311329
9993311329
9994288057
9994288057
9994288057
9994288057
9994659840
9994659840"""

In [68]:
s2 = """correct, 2 months 2 salaries detected
correct, 2 months 2 salaries detected
doubt
doubt
correct, 
correct, 


correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 


correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
doubt
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt, some type of income
doubt, some type of income
doubt, some type of income
doubt, some type of income
correct, 
doubt, some type of income
correct, 
correct, 
doubt, some type of income
doubt, some type of income
correct, 
doubt, correct according to logic
doubt, correct according to logic
correct, 
correct, 
correct, 
correct, 
correct, 
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
correct, 
why this is coming
why this is coming
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt
doubt
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword



correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 











doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 












correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, job change case
correct, job change case
correct, job change case
correct, job change case
correct, job change case
correct, job change case
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt, could be a case of self employed
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong, remove this as keyword
wrong, remove this as keyword
correct, 
correct, 
wrong, remove this as keyword
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong
wrong
wrong
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
doubt
correct, 
correct, 
correct, 




















correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
doubt, correct according to logic
correct, 
correct, 
correct, 
correct, 
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, salary from two different sources
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 

correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong
correct, 
wrong
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, clustering improved
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 




correct, 


correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
doubt, salary from multiple sources
wrong
wrong
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
why this is coming
why this is coming
why this is coming
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
wrong, name predicted as company
why this is coming
why this is coming
why this is coming
why this is coming
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
wrong, remove this as keyword
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
wrong
correct, 
wrong
wrong
wrong
wrong
wrong
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
why this is coming
why this is coming
why this is coming
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
doubt
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
correct, 
doubt
doubt"""

In [69]:
dff = pd.DataFrame({'col1': s1.split("\n"), 'col2': s2.split("\n")})

In [70]:
dff1 = dff.drop_duplicates()

In [71]:
ser = dff1['col1'].value_counts()
ser[ser>1]

8978853624    2
9896000192    2
9409293374    2
7057466687    2
9497760175    2
8527688527    2
7022643171    2
7010826548    2
7007402348    2
8742907866    2
7667740393    2
7340514471    2
8940507161    2
9022111188    2
9518748537    2
Name: col1, dtype: int64